<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="announcementWrapper">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <img src="assets/images/home.svg" alt="Logo">
                  </li>
                  <li class="breadcrumb-item">
                    <a href="">Setup</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="">Roles & Rights</a>
                  </li>
                </ul>
                <div class="flex">
                    <h3 class="text-dark-blue">Roles & Rights</h3>
                   
                </div>
                <div class="setupDesignation">
                    <ul>
                        <li>
                            <a routerLink="/admin/setup" routerLinkActive='active'>
                                Programmes
                            </a>
                        </li>
                        <li>
                            <a routerLink="/admin/setup/department" routerLinkActive='active'>
                                Departments
                            </a>
                        </li>
                        <li>
                            <a routerLink="/admin/setup/course" routerLinkActive='active'>
                                Courses
                            </a>
                        </li>
                        <li>
                            <a routerLink="/admin/setup/subject" routerLinkActive='active'>
                                Subjects
                            </a>
                        </li>
                        <li>
                            <a routerLink="/admin/setup/designation" routerLinkActive='active'>
                                Designations
                            </a>
                        </li>
                        <li>
                            <a routerLink="/admin/setup/sections" routerLinkActive='active'>
                                Sections
                            </a>
                        </li>
                        <li>
                            <a routerLink="/admin/setup/roles-rights" routerLinkActive='active'>
                                Roles & Rights
                            </a>
                        </li>
                    </ul>
                </div>
              
                <div class="table-responsive course-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Roles</th>
                                <th>Module</th>
                              
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Super Admin</th>
                                <td>Admin </td>
                                                                 
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
               
              
            </div>
        </div>
    </div>

</div>

