.pagination{
    li{
        background: var(--white-color);
        border-radius: 4px;
        margin: 3px;
        a{
            border: 0;
            border-radius: 4px;
            font-size: 13px;
            font-weight: 600;
            color: var(--dark-blue-color);
            text-decoration: none;
        }
        &.active{
            a{
                background: var(--blue-color);
                color: var(--white-color);
            }
        }
    }
    
} 
select{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgOCA2IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNOCAwTDMuOTcgNkwwIDBIOFoiIGZpbGw9IiM4Njg5OTciLz4KPC9zdmc+Cg==");
    background-size: 8px;
    padding: 6px 21px;
    border: 1px solid #DFE3E8;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
    color: var(--grey-color);
}