<!-- <app-main-page></app-main-page> -->
<div class="wrapper-inner px-lg-5 px-3 py-4">
    <div class="page-section">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item me-2"><a href="#"><img src="assets/images/home-big-icon.svg"></a></li>              
              <li class="breadcrumb-item me-2"><a href="#">Syllabus</a></li>              
              <li class="breadcrumb-item me-2"><a href="#">Dept of Computer Science Engineering</a></li>
              <li class="breadcrumb-item active" aria-current="page">Computer Science</li>
            </ol>
        </nav>
            <div class="page-start">
                <div class="d-xl-flex justify-content-between mb-2">
                    <h4 class="page-title align-self-center mb-0" routerLink="/admin/admin-syllabus/admin-department-course"><img src="assets/images/back-arrow.svg" class="img-fluid me-2">Computer Science</h4>
                    <ul class="nav nav-tabs list-tab-right border-0" id="myTab" role="tablist">
                        <li class="bg-white text-grey mx-2 align-self-center">
                            <a href="#" class="filter "><img src="assets/images/filter_list.svg" class="img-fluid me-1">Filters</a>
                        </li>
                    </ul>
                </div>                
                <div class="table-responsive course-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Semester</th>
                                <th>Core Subjects</th>
                                <th>Elective Subjects</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th routerLink="/admin/admin-syllabus/admin-semester-subject">1st Semester</th>
                                <td>06</td>
                                <td>02</td>
                            </tr>
                            <tr>
                                <th routerLink="/admin-semester-subject">2nd Semester</th>
                                <td>06</td>
                                <td>02</td>
                            </tr>
                            <tr>
                                <th routerLink="/admin-semester-subject">3rd Semester</th>
                                <td>06</td>
                                <td>02</td>
                            </tr>
                            <tr>
                                <th routerLink="/admin-semester-subject">4th Semester</th>
                                <td>06</td>
                                <td>02</td>
                            </tr>
                            <tr>
                                <th routerLink="/admin-semester-subject">5th Semester</th>
                                <td>06</td>
                                <td>02</td>
                            </tr>
                            <tr>
                                <th routerLink="/admin-semester-subject">6th Semester</th>
                                <td>06</td>
                                <td>02</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>