.subject-tab{
    .nav-tabs{
        .nav-link{
            margin: 0 1.5rem;
            position: relative;
            &:hover{
                border-color: transparent;
            }
            img{
                margin: 1.2rem;                
            }
            
            &.active{
                background-color: transparent;
                border-color: transparent;
                img{
                    filter: invert(100%) sepia(0%) saturate(6559%) hue-rotate(322deg) brightness(117%) contrast(100%);
                }
                &::after{
                    content: '';
                    width: 100%;
                    height: 4px;
                    background: linear-gradient(155.52deg, #F0855E 8.38%, #FF7A65 91.34%);
                    border-radius: 6px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }
}
.list-tab-right{
    li{
        align-self: center;
        .filter{
            background: var(--white-color);
            border-radius: 4px;
            padding: 8px 10px;
            font-weight: 600;
            color: var(--grey-color);
        }
        button{
            &.nav-link{
                background-color: var(--white-color);
                border-color: transparent;
                padding: 6px 8px;
                border-radius: 4px;
            }
            &.active{
                background: var(--blue-color);
                img{
                    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(67deg) brightness(108%) contrast(190%);
                }
            }
            
        }
    }
}
table{
    border-collapse: separate;
border-spacing: 0 1em;
    tr,th,td{
        border: 0;
    }
    thead{
        tr{
            th{
                font-size: 12px;
                color: var(--grey-color);
                font-style: normal !important;
                font-family: 'Open Sans', sans-serif !important;
                padding: 10px 20px 0px;
                &:first-child{
                    padding: 10px 30px 0px;
                }
            }
        }
    }
    tbody{
        border-radius: 8px;
        tr{
            background: var(--white-color);
            box-shadow: 6px 10px 20px rgba(64, 83, 163, 0.1);
            border-radius: 8px;                
            th{
                font-size: 14px;
                font-weight: 700;
                color: var(--dark-blue-color);
                padding: 20px;
                font-family: 'Open Sans', sans-serif !important;
                vertical-align: middle;
                white-space: nowrap;
                border-bottom-left-radius: 8px; 
                border-top-left-radius: 8px; 
                &:first-child{
                    padding: 20px 30px;
                }
            }
            td{
                font-size: 12px;
                color: var(--grey-color);
                font-style: normal !important;
                padding: 20px;
                font-family: 'Open Sans', sans-serif !important;
                font-weight:600 ;
                vertical-align: middle;
                white-space: nowrap;
                &:last-child{
                    border-bottom-right-radius: 8px; 
                    border-top-right-radius: 8px; 
                }
                .button-light-red{
                    border: 1px solid var(--red-color);
                    border-radius: 50px;
                    font-weight: 600;
                    padding: 5px 20px;
                    &.disabled{
                        border: 1px solid var(--grey-color);
                        color: var(--grey-color);
                        opacity: 0.3;
                    }
                }
            }
            button{
                background-color: transparent;
                    border: 0;
                    padding: 0;
            }
            &:hover{
                background: #F6F8FF;
            }
        }
    }
}
.dropdown-toggle::after{display: none;}
.dropdown{
    button{
        background-color: transparent;
            border: 0;
            padding: 0;
    }
    .dropdown-menu {
        min-width: auto;
        top: 50%;
        // right: 0 !important;
        // left: unset !important;
        li{
            margin-bottom: 5px;
            a{
                font-weight: 700;
                font-size: 12px;
            }
        }
    }
}
.review-block{
    color: var(--dark-blue-color);
    p{
        font-size: 13px;
        line-height: 22px;
    }
    ul{
        li{
            font-size: 13px;
        line-height: 22px;
        }
    }
}
.cover-change {
    p{
        color: var(--white-color);
        font-size: 12px;
        font-weight: 700;
        position: absolute;
        top: 15px;
        right: 15px;
        background: rgba(29, 40, 67, 0.62);
        border-radius: 20px;
        margin-bottom: 0;
        padding: 3px 15px;
    }
}
.nav-tabs{
    &.general-schedule{
        background:var(--white-color);
        border: 0;
        border-radius: 10px;
        li{
            .nav-link{
                color: var(--grey-color);
                font-size: 13px;
                font-weight: 600;
                padding: 0.68rem;
                border-radius: 10px;
                margin: 0;
                &.active,&:hover{
                    background-color: var(--blue-color);
                    color: var(--white-color);
                    border-radius: 10px;
                    border-color:transparent;
                }
                &.active:after{
                    display: none;
                }
                &:hover{
                    border-color:transparent;
                }
            }
            &:last-child{
                background: #F5F6FA;
                border-radius: 10px;
            }
        }
    }
}
.shedule{
    border:1px solid #E0ECFF;
    border-radius: 14px;
    padding: 20px 30px;
    p{
        margin-bottom: 0;
    }
    .period{
        p{
            font-size: 15px;
            font-weight: 600;
            color: var(--dark-blue-color);
            span{
                color: var(--blue-color);
                background: #E3E8FF;
                border: 1px solid rgba(210, 217, 236, 0.5);
                box-sizing: border-box;
                border-radius: 6px;
                width: 34px;
                height: 34px;
                display: inline-block;
                text-align: center;
                padding: 5px;
                margin-right: 1rem;
            }
        }
    }
    .time{
        p{
            color: var(--grey-color);
            font-size: 12px;
            font-weight: 600;
        }
    }
 }
 .shedule-num{
     font-size: 18px;
     border-radius: 50%;
     padding: 6px 15px;
     margin-right: 1rem;
 } 
 .course-card{
    background: linear-gradient(103.02deg, #FFFFFF 50%, #F7F8FF 100%);
    border: 0.5px solid #D1D0E8;
    border-radius: 10px;
    h6{
        font-size: 18px;
    }
    p{
        font-size: 14px;
        font-weight: 600;
    }
    .subject-list{
        li{
            font-size: 14px;
            font-weight: 600;
            display: inline-block;
            margin-right: 1.5rem;
            position: relative;
            &:not(:first-child):before{
                content: '';
                width: 5px;
                height: 5px;
                background: var(--grey-color);
                position: absolute;
                border-radius: 50%;
                top: 40%;
                left: -15px;
            }
        }
    }
    .student-list{
        ul{
            li{
                display: inline-block;
                list-style-type: none;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                margin-left: -5px;
                color: #727585;
                font-size: 13px;
                font-weight: 600;
                span{
                    background: var(--blue-color);
                    color: var(--white-color);
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    padding: 5px 10px;
                }
            }
        }
    }
    
    .badge{
        font-size: 14px;
        font-weight: 600;
    }
}
@media(max-width:991px){
    .nav-tabs{
        &.general-schedule{
            li{
                .nav-link{
                    padding: 0.3rem;
                }
            }
        }
    }
    .shedule{text-align: center;
        .shedule-num{
            display: table;
            margin: auto;
            margin-bottom: 1rem;
        }
    }
}
// create assignment modal
.modal-content{
    border: 0;
    background: #FFFFFF;
    box-shadow: 3px 4px 4px rgba(141, 151, 202, 0.06);
    border-radius: 10px;
    .modal-header{
        background: #FAFAFA;
        border-radius: 10px 10px 0px 0px;
        border: 0;
        text-align: center;
        display: initial;
        padding: 0.7rem 1rem;
        h5{
            font-size: 16px;
            font-weight: 700;
            color: var(--dark-blue-color);
            margin-bottom: 0;
        }
        .btn-close{
            background: none;
            opacity: 1;
            position: absolute;
            top: 20px;
            right: 35px
        }
    }
    .modal-body{
        padding: 1rem 3rem;
        li{
            position: relative;
            margin: 0 4rem;
            button{
                background: transparent;
                position: relative;
                span{
                background: #FFE8E2;
                color: var(--red-color);
                border-radius: 5px;
                font-size: 10px;
                font-weight: 700;
                text-align: center;
                margin: auto;
                margin-bottom: 10px;
                padding: 4px 9px;
                display: inline-block;
                position: relative;
                &::after{
                    content: '';
                        width: 89px;
                        height: 1px;
                        background: var(--red-color);
                        position: absolute;
                        top: 50%;
                        left: 100%;
                    }
                &::before {
                    content: '';
                    width: 89px;
                    height: 1px;
                    background: #FFE8E2;
                    position: absolute;
                    top: 50%;
                    right: 100%;
                }
                }
                
                &.active{
                    span{
                        background: var(--red-color);
                        color: var(--white-color);
                    }
                    p{
                        color: var(--dark-blue-color);
                    }
                }
                p{
                    font-size: 10px;
                    font-weight: 700;
                    color: var(--grey-color);
                }
            }
            &:first-child {
                button{
                    &.active{
                        span::after{background: #FFE8E2;}
                    }
                    span{
                        &::before{display: none;}
                    }
                }
            }            
            &:last-child{
                button{
                    &.active{
                        span::before{background: var(--red-color);}
                    }
                    span::after{display: none;}
                }
            }
            
        }
        h4{
            color: #202020;
            font-weight: 600;
            border-bottom: 1px solid #3E4D97;
            padding-bottom: 0.7rem;
        }
        form{
            margin-top: 1.2rem;
            .files{
                border: 1px dashed rgba(66, 80, 150, 0.5);
                position: relative;
                border-radius: 8px;
               
                input{
                    border:0;
                    padding: 2rem;
                    &::-webkit-file-upload-button{
                        display: none;
                    }
                    color: transparent;
                    height: 150px;
                    position: relative;
                    z-index: 1;
                    background: transparent;
                }
                .file-data{
                    position: absolute;
                    top: 2rem;
                    left: 0;
                    right: 0;
                    margin: auto;
                    text-align: center;
                    z-index: 0;
                    p{
                        font-size: 14px;
                        color: var(--grey-color);
                        margin-top: 10px;
                        margin-bottom: 0;
                        span{
                            font-weight: 700;
                            opacity: 1;
                        }
                    }
                    span{
                        font-size: 12px;
                        opacity: 0.6;
                    }
                }
            }
        }
    }
    .modal-footer{
        .cancel{
            font-size: 14px;
            font-weight: 600;
        }
    }
}
#exampleModalToggle2{
    .modal-dialog{
        max-width: 400px;
        ul{
            li{
                margin-right: 0;
            }
        }
        .modal-body{
            padding: 1rem 2rem;
        }
    }
    .modal-footer{
        button {
            min-width: 135px;
        }
    }
}
select{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgOCA2IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNOCAwTDMuOTcgNkwwIDBIOFoiIGZpbGw9IiM4Njg5OTciLz4KPC9zdmc+Cg==");
    background-size: 8px;
}
.discussion-search{
    box-shadow: 3px 4px 4px rgba(141, 151, 202, 0.06);
    border-radius: 50px;
    padding:6px 10px;
    input{
        height:auto;
        font-size:11px;
        font-weight:600;
        padding:0.5rem;
    }
}
.posts{
    li{
        list-style-type: none;
        display: inline-block;
        font-size: 12px;
        color: var(--grey-color);
        margin-right: 1.2rem;
        &.active{
            color: var(--blue-color);
            font-weight: 700;
        }
    }
}
.post-select{
    color: var(--grey-color);
    font-size: 12px;
    font-weight: 600;
    padding:0.5rem 2.5rem 0.5rem 1rem;
}
.discussion-card{
    background: var(--white-color);
    border-radius: 10px;
    padding: 1.5rem;
    .card-header{
        background:transparent;
        span{
            font-size: 10px;
            font-weight: 600;
            color: var(--grey-color);
            opacity: 0.7;
        }
    }
    .card-body{
        
        border-bottom: 1px solid rgba(71, 85, 154, 0.25);;
        p{
            font-size: 13px;
            line-height: 22px;
            color: var(--dark-blue-color);
            margin-bottom: 0;
        }
    }
    .card-footer{
        background-color: transparent;
        ul{
            li{
                display: inline-block;
                list-style-type: none;
                font-size: 12px;
                font-weight: 600;
                margin-right: 2rem;
                color: var(--grey-color);
            }
        }
        .comment-field {
            input{
                background: #F5F6FA;
                border-radius: 50px;
                font-size: 11px;
                font-weight: 600;
                height: auto;
                padding: 12px 25px;
            }
        }
    }
    &.comment-replay{
        background: #F8F9FF;
    }
}
.dropdown-toggle{
    &::after{display: none;}
}
.dropdown{
    button{
        background-color: transparent;
            border: 0;
            padding: 0;
    }
    .dropdown-menu {
        min-width: auto;
        top: 50%;
        // right: 0 !important;
        // left: unset !important;
        li{
            margin-bottom: 5px;
            a{
                font-weight: 700;
                font-size: 12px;
            }
        }
    }
}
.moderators-card{
    background: var(--white-color);
    border-radius: 8px;
    h6{
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 0;
    }
    span{
        font-size: 10px;
        color: var(--grey-color);
        font-weight: 600;
    }
}
.grade-title {
    ul{
        position: relative;
        li{
            font-size: 14px;
            font-weight: 600;
            color: var(--grey-color);
            padding-left: 3rem;
            span{
                font-weight: 800;
            }
        }
        &:before{
            content: '';
            background: var(--grey-color);
            height: 100%;
            width: 1px;
            position: absolute;
            left: 20px;
        }
    }
}
.marks-card{
    background: linear-gradient(103.02deg, #FFFFFF 50%, #F7F8FF 100%);
    box-shadow: 0px 0px 8px rgba(39, 71, 233, 0.16);
    border-radius: 8px;
    padding: 1.5rem 1.5rem 2rem;
    span{
        font-weight: 600;
        color: var(--grey-color);
    }
    .progress{
        height: 10px;
        border-radius: 10px;
        background: #FD4651;    
        .min-bar{
            background: #FD4651;
            border-radius: 0;
        }
        .max-bar{
            background:#00B956;
        }
    }
}
.deadline-card{
    background: linear-gradient(103.02deg, #FFFFFF 50%, #F7F8FF 100%);
    box-shadow: 0px 0px 8px rgba(39, 71, 233, 0.16);
    border-radius: 8px;
    padding: 1.5rem 1.5rem 2.3rem;
    .progress{
        height: 4px;
        background: #D6DAEF;
        position: relative;
        margin-right: 13px;
        .progress-bar{
            background: #00B956;
        }
    }
    .left-bar{
        width: 16px;
        height: 16px;
        border: 4px solid #00B956;
        border-radius: 50%;
        background: #00B956;
        position: absolute;
        left: 0px;
        top: -6px;
    }
    .right-bar{
        width: 16px;
        height: 16px;
        border: 4px solid #FD4651;
        border-radius: 50%;
        position: absolute;
        right: 0px;
        top: -6px;
    }
    span{
        color: var(--grey-color);
        font-weight: 600;
    }
    h5{
        font-size: 14px;
        font-weight: 700;
        color: var(--dark-blue-color);
    }
}