<div class="auth-page">
    <img src="../../../../../assets/images/shape.svg" alt="" class="shape">
    <!-- <img src="../../../../../assets/images/Union.svg" alt="" class="shape tabshape"> -->
    <section class="navbars">
      <div class="containers">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="mainlogo">
              <img src="../../../../../assets/images/Logo.svg" alt="">
            </div>
          </div>
        </div>

      </div>
  </section>
  <div class="fxt-content">
    <div class="row">
      <div class="col-md-12">
        <div class="loginwrapper">
          <div>
            <h3>Forgot Password?</h3>
            <p>We’ll email you instructions to reset your password.</p>
            <form [formGroup]="resetPasswordForm" role="form" (ngSubmit)="onResetPasswordFormSubmit()">
            <div class="fxt-form">
              <div class="form-group">
                <label for="email" class="input-label">Email </label>
                <input type="email" class="form-control" name="email" formControlName="email" placeholder="Enter email"
                  required="required">
                  <div *ngIf="submitted && f.email.errors" class="required">
                    <span *ngIf="f.email.errors.required">Email is required</span>  
                    <span *ngIf="f.email.errors.email">Invalid Email Format</span>                            
                  </div>  
            
                </div>
               <a href="" class="loginbtn btn">Send Reset Link</a>
               <div class="fxt-footer">
                <p>If you haven't made this request </p>
                <a routerLink="/login">  Click here to login session.</a>
              </div>
              <button type="submit" class="loginbtn btn">Send Reset Link</button>
             
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyrights">
    <p>All Rights Reserved © 2024 Maanavar</p>
  </div>
</div>