<div class="d-xl-flex justify-content-between mb-3">
    <h4 class="text-blue fw-bold mb-0 align-self-center">All Assignments <img src="assets/images/drop-arrow.svg" class="ms-1"></h4>
    <ul class="nav nav-tabs list-tab-right border-0" id="myTab" role="tablist">
        <li  class="nav-item ms-2">
            <button type="button" class="primary-theam-button  mt-lg-0 px-lg-4 px-1 text-lg-start py-1" data-bs-toggle="modal" data-bs-target="#createassignment">+ <span class="ms-2">Add New</span></button>
        </li>
      </ul>
</div>
<div class="table-responsive course-table">
    <table class="table">
        <thead>
            <tr>
                <th class="name-space">Name</th>
                <th>Deadline</th>
                <th>Submissions</th>
                <th>Graded</th>
                <th>Status</th>
                <th>Submitted on</th>
                <th>Mark</th>
            </tr>
        </thead>
        <tbody>
            <tr routerLink="/instructor/instructor-course-list/subject-folder/assignment-details">
                <th >
                  <img src="assets/images/assignment-blue.svg" class="img-fluid me-3"> K-Means Clustering
                </th>
                <td>29 March, 2021</td>
                <td>
                    <div class="circular-progress blue">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                    </div>
                    <span class=" px-2 d-grid my-1">75% Submited</span></td>
                <td>
                    <div class="circular-progress red">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                    </div>
                    <span class=" px-2 d-grid my-1">24% Graded</span></td>
                <td class="text-violet">
                    Published
                </td>
                <td>N/A</td>
                <td class="text-dark-blue fw-bold">N/A</td>
            </tr>
            <tr>
                <th >
                  <img src="assets/images/assignment-blue.svg" class="img-fluid me-3"> Logistic Regression
                </th>
                <td>N/A</td>
                <td><div class="circular-progress blue">
                    <!-- <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span> -->
                </div>
                <span class=" px-2 d-grid my-1">N/A</span></td>
                <td><div class="circular-progress blue">
                    <!-- <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span> -->
                </div>
                <span class=" px-2 d-grid my-1">N/A</span></td>
                <td class="text-red">
                    Draft
                </td>
                <td>21 March, 2021</td>
                <td class="text-dark-blue fw-bold">84</td>
            </tr>
            <tr>
                <th >
                  <img src="assets/images/assignment-blue.svg" class="img-fluid me-3"> Linear Regression
                </th>
                <td>15 July, 2021</td>
                <td>
                    <div class="circular-progress blue">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                    </div>
                    <span class=" px-2 d-grid my-1">100% Submited</span></td>
                <td>
                    <div class="circular-progress red">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                    </div>
                    <span class=" px-2 d-grid my-1">100% Graded</span></td>
                <td class="text-violet">
                    Published
                </td>
                <td class="text-dark-red">Overdue</td>
                <td class="text-dark-blue fw-bold">N/A</td>
            </tr>
            <tr>
                <th >
                  <img src="assets/images/assignment-blue.svg" class="img-fluid me-3"> Title of assignment Lorem...
                </th>
                <td>20 Oct 2021</td>
                <td>
                    <div class="circular-progress blue">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                    </div>
                    <span class=" px-2 d-grid my-1">100% Submited</span></td>
                <td>
                    <div class="circular-progress red">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                    </div>
                    75% Graded</td>
                <td class="text-violet">
                    Published
                </td>
                <td>21 March, 2021</td>
                <td class="text-dark-blue fw-bold">N/A</td>
            </tr>                             
        </tbody>
    </table>
</div>