<div class="wrapper-inner px-lg-5 px-3 py-4">
    <div class="page-section">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item me-2"><a href="#"><img src="assets/images/home-big-icon.svg"></a></li>
              <li class="breadcrumb-item active" aria-current="page">My Batch</li>
            </ol>
        </nav>
        <div class="page-start">
            <h4 class="page-title pb-4">BE - CSE - 2nd Sem - A</h4>
            <div class="batch-card mb-2">
                <div class="row">
                    <div class="col">
                        <p>Department</p>
                        <h5>Computer Science Engg</h5>
                    </div>
                    <div class="col">
                        <p>Programme</p>
                        <h5>BE</h5>
                    </div>
                    <div class="col">
                        <p>Course</p>
                        <h5>Computer Science</h5>
                    </div>
                    <div class="col">
                        <p>Semester</p>
                        <h5>Second</h5>
                    </div>
                    <div class="col">
                        <p>Section</p>
                        <h5>A</h5>
                    </div>
                    <div class="col">
                        <p>Students</p>
                        <div class="d-flex">
                            <img src="assets/images/users.svg" class="img-fluid me-2"> <h5>28</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive course-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="ms-lg-5 d-block ps-lg-4 namespace">Name</th>
                            <th>Roll No. or UID</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Date of Birth</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th >
                                <img src="assets/images/student1.png" class="img-fluid me-3"> Wilson Kilbert
                              </th>
                            <td>RL13332</td>
                            <td>wilsonkilbert@gmail.com</td>
                            <td>Male</td>
                            <td>21 March, 1996</td>                               
                        </tr>
                        <tr>
                            <th >
                                <img src="assets/images/student2.png" class="img-fluid me-3"> Peter Parker
                              </th>
                            <td>RL13332</td>
                            <td>wilsonkilbert@gmail.com</td>
                            <td>Male</td>
                            <td>21 March, 1996</td>                               
                        </tr>
                        <tr>
                            <th >
                                <img src="assets/images/student2.png" class="img-fluid me-3"> Deepan Remijious
                              </th>
                            <td>RL13332</td>
                            <td>wilsonkilbert@gmail.com</td>
                            <td>Male</td>
                            <td>21 March, 1996</td>                               
                        </tr>
                        <tr>
                            <th >
                                <img src="assets/images/student4.png" class="img-fluid me-3"> Ruban Karthik
                              </th>
                            <td>RL13332</td>
                            <td>wilsonkilbert@gmail.com</td>
                            <td>Male</td>
                            <td>21 March, 1996</td>                               
                        </tr>
                        <tr>
                            <th >
                                <img src="assets/images/student5.png" class="img-fluid me-3"> Jai Surya
                              </th>
                            <td>RL13332</td>
                            <td>wilsonkilbert@gmail.com</td>
                            <td>Male</td>
                            <td>21 March, 1996</td>                               
                        </tr>
                        <tr>
                            <th >
                                <img src="assets/images/student6.png" class="img-fluid me-3"> Deva Rajan
                              </th>
                            <td>RL13332</td>
                            <td>wilsonkilbert@gmail.com</td>
                            <td>Male</td>
                            <td>21 March, 1996</td>                               
                        </tr>
                        <tr>
                            <th >
                                <img src="assets/images/student4.png" class="img-fluid me-3"> Ruban Karthik
                              </th>
                            <td>RL13332</td>
                            <td>wilsonkilbert@gmail.com</td>
                            <td>Male</td>
                            <td>21 March, 1996</td>                               
                        </tr>
                        <tr>
                            <th >
                                <img src="assets/images/student5.png" class="img-fluid me-3"> Jai Surya
                              </th>
                            <td>RL13332</td>
                            <td>wilsonkilbert@gmail.com</td>
                            <td>Male</td>
                            <td>21 March, 1996</td>                               
                        </tr>
                        <tr>
                            <th >
                                <img src="assets/images/student6.png" class="img-fluid me-3"> Deva Rajan
                              </th>
                            <td>RL13332</td>
                            <td>wilsonkilbert@gmail.com</td>
                            <td>Male</td>
                            <td>21 March, 1996</td>                               
                        </tr>
                    </tbody>
                </table>
            </div>
            <app-pagination></app-pagination>
        </div>
    </div>
</div>