<!-- <app-main-page></app-main-page> -->
<div class="wrapper-inner px-lg-5 px-3 py-4">
    <div class="page-section">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item me-2"><a href="#"><img src="assets/images/home-big-icon.svg"></a></li>
              <li class="breadcrumb-item active" aria-current="page">Syllabus</li>
            </ol>
        </nav>
            <div class="page-start">
                <div class="d-xl-flex justify-content-between mb-2">
                    <h4 class="page-title align-self-center mb-0">Departments</h4>
                    <ul class="nav nav-tabs list-tab-right border-0" id="myTab" role="tablist">
                        <li class="bg-white text-grey mx-2 align-self-center">
                            <a href="#" class="filter "><img src="assets/images/filter_list.svg" class="img-fluid me-1">Filters</a>
                        </li>
                    </ul>
                </div>                
                <div class="table-responsive course-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Department Name</th>
                                <th>Programmes</th>
                                <th>No of Courses</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th routerLink="/admin//admin-syllabus/admin-department-course">Computer Science Engineering</th>
                                <td>BE / BTECH / ME / MTECH</td>
                                <td>05</td>
                            </tr>
                            <tr>
                                <th>Civil Engineering </th>
                                <td>BE / BTECH / ME / MTECH</td>
                                <td>05</td>
                            </tr>
                            <tr>
                                <th>Mechanical Engineering </th>
                                <td>BE / BTECH / ME / MTECH</td>
                                <td>05</td>
                            </tr>
                            <tr>
                                <th>Electrical and Electronics Engineering</th>
                                <td>BE / BTECH / ME / MTECH</td>
                                <td>05</td>
                            </tr>
                            <tr>
                                <th>Electronics and Communication Engineering</th>
                                <td>BE / BTECH / ME / MTECH</td>
                                <td>05</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>