<div class="d-xl-flex justify-content-between mb-3">
    <h4 class="text-blue fw-bold mb-0 align-self-center">All Students</h4>
    
</div>
<div class="table-responsive course-table">
    <table class="table">
        <thead>
            <tr>
                <th class="name-space">Name</th>
                <th>No. of Submissions</th>
                <th>Overall Grade</th>
                <th></th>
                <th>Roll No. or UID</th>
                <th>Email</th>
                <th>Date of Birth</th>
            </tr>
        </thead>
        <tbody>
            <tr routerLink="/student-detail">
                <th >
                  <img src="assets/images/student1.png" class="img-fluid me-3"> Wilson Kilbert
                </th>
                <td>04 Assignments</td>
                <td class="text-dark-blue fw-bold">68 %</td>
                <td>
                    <button type="button"  class="button-light-red mt-lg-0 " routerLink="/instructor/instructor-course-list/subject-folder/student-assignmentList">View Gradebook</button>
                </td>
                <td>RL13332</td>
                <td>wilsonkilbert@gmail.com</td>
                <td>21 March, 1996</td>
            </tr>
            <tr routerLink="/student-detail">
                <th >
                  <img src="assets/images/student2.png" class="img-fluid me-3"> Peter Parker
                </th>
                <td>05 Assignments</td>
                <td class="text-dark-blue fw-bold">95%</td>
                <td>
                    <button type="button"  class="button-light-red mt-lg-0 ">View Gradebook</button>
                </td>
                <td>RL13332</td>
                <td>wilsonkilbert@gmail.com</td>
                <td>21 March, 1996</td>
            </tr>  
            <tr routerLink="/student-detail">
                <th >
                  <img src="assets/images/student3.png" class="img-fluid me-3"> Deepan Remijious
                </th>
                <td>04 Assignments</td>
                <td class="text-dark-blue fw-bold">60%</td>
                <td>
                    <button type="button"  class="button-light-red mt-lg-0 ">View Gradebook</button>
                </td>
                <td>RL13332</td>
                <td>wilsonkilbert@gmail.com</td>
                <td>21 March, 1996</td>
            </tr>   
            <tr routerLink="/student-detail">
                <th >
                  <img src="assets/images/student4.png" class="img-fluid me-3"> Ruban Karthik
                </th>
                <td>05 Assignments</td>
                <td class="text-dark-blue fw-bold">92%</td>
                <td>
                    <button type="button"  class="button-light-red mt-lg-0 ">View Gradebook</button>
                </td>
                <td>RL13332</td>
                <td>wilsonkilbert@gmail.com</td>
                <td>21 March, 1996</td>
            </tr>
            <tr routerLink="/student-detail">
                <th >
                  <img src="assets/images/student5.png" class="img-fluid me-3"> Jai Surya
                </th>
                <td>05 Assignments</td>
                <td class="text-dark-blue fw-bold">74%</td>
                <td>
                    <button type="button"  class="button-light-red mt-lg-0 ">View Gradebook</button>
                </td>
                <td>RL13332</td>
                <td>wilsonkilbert@gmail.com</td>
                <td>21 March, 1996</td>
            </tr>
            <tr routerLink="/student-detail">
                <th >
                  <img src="assets/images/student6.png" class="img-fluid me-3"> Deva Rajan
                </th>
                <td>05 Assignments</td>
                <td class="text-dark-blue fw-bold">53%</td>
                <td>
                    <button type="button"  class="button-light-red mt-lg-0 ">View Gradebook</button>
                </td>
                <td>RL13332</td>
                <td>wilsonkilbert@gmail.com</td>
                <td>21 March, 1996</td>
            </tr>                      
        </tbody>
    </table>
</div>