<div class="wrapper-inner px-lg-5 px-3 py-4">
    <div class="page-section">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item me-2"><a href="#"><img src="assets/images/home-big-icon.svg"></a></li>
              <li class="breadcrumb-item me-2"><a href="#">My Subjects</a></li>
              <li class="breadcrumb-item active" aria-current="page">Add New Subject</li>
            </ol>
        </nav>
        <div class="page-start">
            <div class="d-lg-flex justify-content-between mb-4">            
                <h4 class="page-title pb-4"><img src="assets/images/back-arrow.svg" class="me-2">Review & Publish</h4>
                <div class=" align-self-center">
                    <button type="button" class=" text-center bg-white button-light-blue theam-button mt-lg-0 px-lg-4 px-2 px-lg-3 text-lg-start">Discard</button>
                    <button type="button" class="text-center bg-white theam-button button-light-red mt-lg-0 px-lg-4 px-2 mx-lg-3 mx-2 text-lg-start" >Save as Draft</button>
                    <button type="button" class="text-center primary-theam-button theam-button mt-lg-0 px-lg-4 px-2 text-lg-start">Publish Now</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-7">  
                    <div class="profile-card card-shadow bg-white p-0 mb-3 review-block p-4">
                        <div class="card-title p-2">
                            <h4 class="text-dark-blue fw-bold mb-0">Object Oriented Programming</h4>
                        </div>
                        <div class="card-body p-2">
                            <p class="text-dark-blue mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper non urna id molestie. Ut ac urna id lacus porttitor imperdiet. Phasellus sed nisi enim. Fusce vel dignissim diam, a pretium turpis. Nulla varius finibus neque, ac volutpat turpis rutrum eget. Praesent eu metus dignissim, elementum ante eu, euismod magna. Nunc blandit risus non tortor gravida varius. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed in lacinia magna, vitae dapibus lectus. Sed odio nunc, ornare ac dui at, auctor dignissim libero. Nunc lobortis scelerisque augue eget tincidunt. </p>
                        </div>
                    </div>
                    <div class="profile-card card-shadow bg-white p-0 mb-3 review-block p-4">
                        <div class="card-title p-2">
                            <h4 class="text-dark-blue fw-bold mb-0">Syllabus</h4>
                        </div>
                        <div class="card-body p-2">
                            <p class="text-dark-blue mb-0">The object of this course is to teach students the general concepts of relational databases and how to design a database that is anomaly free. Students will learn to design, create, populate, and query a database by working with the Oracle ™ database engine and the SQL language. Students will also learn basic database administration skills such as creating users, granting/revoking privileges individually or collectively to several users through the use of roles.</p>
                            <div class="mt-4">
                                <p class="fw-bold text-dark-blue">The main objectives of this course are:</p>
                                <ul class="px-4 m-0">
                                    <li>To emphasize the features of a Relational Database, in particular, the most widely used model, the relational model, and the use of the Oracle ™. Know the basic components of a relational database management system (RDBMS) and how these parts interact during the normal activities of a database engine.</li>
                                    <li>To construct a conceptual model (E/R diagram) and a physical model (Relational Design) from a general data description that runs in an Oracle ™ engine. Create and populate the database and impose the necessary constraints to satisfy data integrity and operational requirements.</li>
                                    <li>To normalize a database from 1NF to BCNF and the necessity of this process to avoid data anomalies by identifying partial and transitive functional dependencies by the correct application of Armstrong’s inference axioms.</li>
                                    <li>To write queries in SQL that implement the theoretical relational database operators such as selection, projection, joins. Learn how to impose and enforce constraints on the data to satisfy the requirements of some of the normal forms.</li>
                                    <li>To write queries in SQL that uses features such as group function (AVG, MIN, MAX, COUNT), individual functions (arithmetic functions, character, conversion functions), processing of date and time information using functions such as TO_DATE, SYSDATE pseudo columns.</li>
                                    <li>To write basic reports using the BREAK and COMPUTE commands of SQL Plus™.</li>
                                    <li>To write complex queries (subqueries, correlated queries, update tables, inserting/deleting rows from tables using subqueries) and hiding data through the use of Views.</li>
                                    <li>To be able to accomplish basic administrative tasks such as create/delete users, grant/revoke privileges to users individually or through roles.</li>
                                    <li>Managing a successful semester-long project from initial description through design, creation, and implementation.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="cover-change position-relative pb-3">
                        <img src="assets/images/cover-change.png" class="img-fluid">
                        <p><img src="assets/images/white-pen.png" class="me-2"> Change Cover</p>
                    </div>
                    <div class="recent-blogs my-4">
                        <h6 class="text-dark-blue fw-bold mb-4">General Schedules</h6>
                        <ul class="nav nav-tabs general-schedule mb-3 mb-xl-0 justify-content-between" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <button class="nav-link active" id="mon-tab" data-bs-toggle="tab" data-bs-target="#mon" type="button" role="tab" aria-controls="mon" aria-selected="true">Mo</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="tue-tab" data-bs-toggle="tab" data-bs-target="#tue" type="button" role="tab" aria-controls="tue" aria-selected="false">Tu</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="wed-tab" data-bs-toggle="tab" data-bs-target="#wed" type="button" role="tab" aria-controls="wed" aria-selected="false">We</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="thu-tab" data-bs-toggle="tab" data-bs-target="#thu" type="button" role="tab" aria-controls="thu" aria-selected="false">Th</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="fri-tab" data-bs-toggle="tab" data-bs-target="#fri" type="button" role="tab" aria-controls="fri" aria-selected="false">Fr</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="sat-tab" data-bs-toggle="tab" data-bs-target="#sat" type="button" role="tab" aria-controls="sat" aria-selected="false">Sa</button>
                            </li>                                
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="sun-tab" data-bs-toggle="tab" data-bs-target="#sun" type="button" role="tab" aria-controls="sun" aria-selected="false">Su</button>
                            </li>
                          </ul>
                          <div class="tab-content mt-3" id="myTabContent">
                            <div class="tab-pane fade show active" id="mon" role="tabpanel" aria-labelledby="mon-tab">
                                <div class="shedule bg-white d-lg-flex  mb-3">
                                    <div class="shedule-num bg-blue text-white fw-bold">1</div>
                                    <div class="">
                                        <div class="period align-self-center">
                                            <p>First Period</p>
                                        </div>
                                        <div class="time align-self-center">
                                            <p>09:00 AM<span class="mx-2">to</span>09:45 AM</p>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="shedule bg-white d-lg-flex  mb-3">
                                    <div class="shedule-num bg-blue text-white fw-bold">3</div>
                                    <div class="">
                                        <div class="period align-self-center">
                                            <p>Third Period</p>
                                        </div>
                                        <div class="time align-self-center">
                                            <p>09:00 AM<span class="mx-2">to</span>09:45 AM</p>
                                        </div>
                                    </div>                                    
                                </div>                                
                            </div>
                            <div class="tab-pane fade" id="tue" role="tabpanel" aria-labelledby="tue-tab">
                                <div class="shedule bg-white d-flex  mb-3">
                                    <div class="shedule-num bg-blue text-white fw-bold">1</div>
                                    <div class="">
                                        <div class="period align-self-center">
                                            <p>First Period</p>
                                        </div>
                                        <div class="time align-self-center">
                                            <p>09:00 AM<span class="mx-2">to</span>09:45 AM</p>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="shedule bg-white d-flex  mb-3">
                                    <div class="shedule-num bg-blue text-white fw-bold">3</div>
                                    <div class="">
                                        <div class="period align-self-center">
                                            <p>Third Period</p>
                                        </div>
                                        <div class="time align-self-center">
                                            <p>09:00 AM<span class="mx-2">to</span>09:45 AM</p>
                                        </div>
                                    </div>                                    
                                </div>  
                            </div>
                            <div class="tab-pane fade" id="wed" role="tabpanel" aria-labelledby="wed-tab">
                                <div class="shedule bg-white d-flex  mb-3">
                                    <div class="shedule-num bg-blue text-white fw-bold">1</div>
                                    <div class="">
                                        <div class="period align-self-center">
                                            <p>First Period</p>
                                        </div>
                                        <div class="time align-self-center">
                                            <p>09:00 AM<span class="mx-2">to</span>09:45 AM</p>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="shedule bg-white d-flex  mb-3">
                                    <div class="shedule-num bg-blue text-white fw-bold">3</div>
                                    <div class="">
                                        <div class="period align-self-center">
                                            <p>Third Period</p>
                                        </div>
                                        <div class="time align-self-center">
                                            <p>09:00 AM<span class="mx-2">to</span>09:45 AM</p>
                                        </div>
                                    </div>                                    
                                </div>  
                            </div>
                            <div class="tab-pane fade" id="thu" role="tabpanel" aria-labelledby="thu-tab">
                                <div class="shedule bg-white d-flex  mb-3">
                                    <div class="shedule-num bg-blue text-white fw-bold">1</div>
                                    <div class="">
                                        <div class="period align-self-center">
                                            <p>First Period</p>
                                        </div>
                                        <div class="time align-self-center">
                                            <p>09:00 AM<span class="mx-2">to</span>09:45 AM</p>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="shedule bg-white d-flex  mb-3">
                                    <div class="shedule-num bg-blue text-white fw-bold">3</div>
                                    <div class="">
                                        <div class="period align-self-center">
                                            <p>Third Period</p>
                                        </div>
                                        <div class="time align-self-center">
                                            <p>09:00 AM<span class="mx-2">to</span>09:45 AM</p>
                                        </div>
                                    </div>                                    
                                </div>  
                            </div>
                            <div class="tab-pane fade" id="fri" role="tabpanel" aria-labelledby="fri-tab">
                                <div class="shedule bg-white d-flex  mb-3">
                                    <div class="shedule-num bg-blue text-white fw-bold">1</div>
                                    <div class="">
                                        <div class="period align-self-center">
                                            <p>First Period</p>
                                        </div>
                                        <div class="time align-self-center">
                                            <p>09:00 AM<span class="mx-2">to</span>09:45 AM</p>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="shedule bg-white d-flex  mb-3">
                                    <div class="shedule-num bg-blue text-white fw-bold">3</div>
                                    <div class="">
                                        <div class="period align-self-center">
                                            <p>Third Period</p>
                                        </div>
                                        <div class="time align-self-center">
                                            <p>09:00 AM<span class="mx-2">to</span>09:45 AM</p>
                                        </div>
                                    </div>                                    
                                </div>  
                            </div>                
                            <div class="tab-pane fade" id="sat" role="tabpanel" aria-labelledby="sat-tab">6
                                <div class="shedule bg-white d-flex  mb-3">
                                    <div class="shedule-num bg-blue text-white fw-bold">1</div>
                                    <div class="">
                                        <div class="period align-self-center">
                                            <p>First Period</p>
                                        </div>
                                        <div class="time align-self-center">
                                            <p>09:00 AM<span class="mx-2">to</span>09:45 AM</p>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="shedule bg-white d-flex  mb-3">
                                    <div class="shedule-num bg-blue text-white fw-bold">3</div>
                                    <div class="">
                                        <div class="period align-self-center">
                                            <p>Third Period</p>
                                        </div>
                                        <div class="time align-self-center">
                                            <p>09:00 AM<span class="mx-2">to</span>09:45 AM</p>
                                        </div>
                                    </div>                                    
                                </div>  
                            </div>
                            <div class="tab-pane fade" id="sun" role="tabpanel" aria-labelledby="sun-tab">
                                <div class="shedule bg-white d-flex  mb-3">
                                    <div class="shedule-num bg-blue text-white fw-bold">1</div>
                                    <div class="">
                                        <div class="period align-self-center">
                                            <p>First Period</p>
                                        </div>
                                        <div class="time align-self-center">
                                            <p>09:00 AM<span class="mx-2">to</span>09:45 AM</p>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="shedule bg-white d-flex  mb-3">
                                    <div class="shedule-num bg-blue text-white fw-bold">3</div>
                                    <div class="">
                                        <div class="period align-self-center">
                                            <p>Third Period</p>
                                        </div>
                                        <div class="time align-self-center">
                                            <p>09:00 AM<span class="mx-2">to</span>09:45 AM</p>
                                        </div>
                                    </div>                                    
                                </div>  
                            </div>
                          </div>
                    </div>
                    <div class="recent-blogs my-4">
                        <h6 class="text-dark-blue fw-bold mb-4">Subject Details</h6>
                        <div class="course-card master-card card-shadow bg-white p-3 h-100">
                            <div class="align-self-center mb-2">
                                <span class="badge bg-red text-white">SBJ1516516</span>
                            </div>
                            <div class="d-flex justify-content-between mb-2">
                                <div>
                                    <h6 class="text-dark-blue fw-bold">Object Oriented Programming</h6>
                                    <ul class="text-grey m-0 p-0 subject-list"><li>Core </li><li>Theoritical</li></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recent-blogs my-4">
                        <h6 class="text-dark-blue fw-bold mb-4">Subject Details</h6>
                        <div class="course-card master-card card-shadow bg-white p-4 h-100">
                            <div class="align-self-center mb-2">
                                <span class="badge bg-red text-white">Sem II - A</span>
                            </div>
                            <div class="d-flex justify-content-between mb-2">
                                <div>
                                    <h6 class="text-dark-blue fw-bold">BE - Computer Science</h6>
                                    <p class="text-grey">Dept. of Computer Science</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between student-list">
                                <ul class="p-0 m-0">
                                    <li><span>A</span></li>
                                    <li><img src="assets/images/s1.png" class="img-fluid"></li>
                                    <li><img src="assets/images/s2.png" class="img-fluid"></li>
                                    <li class="ms-2 text-grey">+ 28</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>