<div class="c-body">
    <main class="c-main">
      <div class="row m--margin-left-10">
        <div class="col-12">          
          <p>
            <strong class="h5">HOME</strong>
            <strong class="h5 color-orange m--margin-left-15 m--margin-right-15">></strong>
            <strong class="h5">COURSES</strong>     
            <strong class="h5 color-orange m--margin-left-15 m--margin-right-15">></strong>    
            <strong class="h5">BUILD NEW</strong></p>    
        </div>        
      </div>    
      <div class="row m--margin-left-10">
        <div class="col-6">          
          <p>
            <span class="h4 underline text-underline">Build</span><span class="h4"> your course here</span>
          </p>
        </div>
        <div class="col-6">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis pellentesque metus id lacinia. Nunc dapibus pulvinar auctor. Duis nec sem at orci commodo viverra id
        </div>
      </div>  
      <form [formGroup]="courseForm" role="form" #rf="ngForm" novalidate>                          
        <div class="m--margin-padding-40" id="basicDetail" *ngIf="basicDetail">
            <div class="row m--margin-left-10 m--margin-top-15">
                <div class="col-12">          
                <p>
                    <span class="h4 underline text-underline">Basic</span><span class="h4"> Detail</span>
                </p>
                </div>
            </div> 
            <div class="row m--margin-left-10 m--margin-top-15">
                <div class="col-12">          
                    <input type="text" class="form-control input-field" name="courseKeyword" formControlName="courseKeyword" placeholder="Course Keyword*">
                    <span class="required" *ngIf="(rf.submitted || courseForm.controls.courseKeyword.touched) && !courseForm.value.courseKeyword">(Course Keyword required)</span>
                </div>
            </div>          
            <div class="row m--margin-left-10 m--margin-top-15">
                <div class="col-6">          
                    <input type="text" class="form-control input-field" name="courseCode" formControlName="courseCode" placeholder="Course Code*">
                    <span class="required" *ngIf="(rf.submitted || courseForm.controls.courseCode.touched) && !courseForm.value.courseCode">(Course Code required)</span>
                </div>
                <div class="col-6">          
                    <input type="text" class="form-control input-field" name="courseName" formControlName="courseName" placeholder="Course Name*">
                    <span class="required" *ngIf="(rf.submitted || courseForm.controls.courseName.touched) && !courseForm.value.courseName">(Course Name required)</span>
                </div>
            </div> 
            <div class="row m--margin-left-10 m--margin-top-15">
                <div class="col-12">          
                    <textarea class="form-control input-field" name="courseAnnouncement" formControlName="courseAnnouncement" placeholder="Course Announcement*"></textarea>
                    <span class="required" *ngIf="(rf.submitted || courseForm.controls.courseAnnouncement.touched) && !courseForm.value.courseAnnouncement">(Course Announcement required)</span>
                </div>
            </div>  
            <div class="row m--margin-left-10 m--margin-top-15">
                <div class="col-12">      
                    <textarea class="form-control input-field" name="courseDescription" formControlName="courseDescription" placeholder="Course Description*"></textarea>
                    <span class="required" *ngIf="(rf.submitted || courseForm.controls.courseDescription.touched) && !courseForm.value.courseDescription">(Course Description required)</span>
                </div>
            </div>
            <div class="row m--margin-left-10 m--margin-top-15">
                <div class="col-12">     
                    <!-- <label for="exampleFormControlFile1"><strong class="h5">Course Image URL</strong></label><br><br>  -->
                    <!-- <input 
                    formControlName="courseImageSource"
                    id="exampleFormControlFile1" 
                    type="file" 
                    class="form-control-file"
                    (change)="onFileChange($event)">  -->
                    <input type="text" class="form-control input-field" name="courseImageUrl" formControlName="courseImageUrl" placeholder="Course Image Url*">
                    <span class="required" *ngIf="(rf.submitted || courseForm.controls.courseImageUrl.touched) && !courseForm.value.courseImageUrl">(Course Image Url required)</span>                    
                </div>
            </div>
            <div class="row m--margin-left-10 m--margin-top-15">
                <div class="col-12">      
                    <button type="submit" class="btn btn-primary border rounded-pill floatright" (click)="nextAdvDetail()">Next</button>
                </div>
            </div>          
        </div>   
        <div class="m--margin-padding-40" id="advDetail" *ngIf="advDetail">
            <div class="row m--margin-left-10 m--margin-top-15">
                <div class="col-12">          
                <p>
                    <span class="h4 underline text-underline">Advanced</span><span class="h4"> Details</span>
                </p>
                </div>
            </div>  
            <div class="row m--margin-left-10 m--margin-top-15">
                <div class="col-12">          
                    <input type="text" class="form-control input-field" name="students" formControlName="students" placeholder="Add Students*">
                    <span class="required" *ngIf="(rf.submitted || courseForm.controls.students.touched) && !courseForm.value.students">(Students required)</span>
                </div>
            </div>  
            <div class="row m--margin-left-10 m--margin-top-15">
                <div class="col-6">          
                    <select class="form-control" id="department" name="department" formControlName="department" [(ngModel)]="departmentName">
                        <option value="" disabled selected> Select Department </option>
                        <option *ngFor="let dept of departments" [ngValue]="dept.value"> {{ dept.label }}</option>
                    </select>  
                    <span class="required" *ngIf="(rf.submitted || courseForm.controls.department.touched) && !courseForm.value.department">(Department required)</span>
                </div>
                <div class="col-6">          
                    <select class="form-control" name="semester" formControlName="semester" [(ngModel)]="semesterName">
                        <option value="" disabled selected> Select Semester </option>
                        <option *ngFor="let sem of semesters" [ngValue]="sem.value"> {{ sem.label }}</option>
                    </select>  
                    <span class="required" *ngIf="(rf.submitted || courseForm.controls.semester.touched) && !courseForm.value.semester">(Semester required)</span>
                </div>
            </div> 
            <div class="row m--margin-left-10 m--margin-top-15">
                <div class="col-6">      
                    <select class="form-control" name="section" formControlName="section" [(ngModel)]="sectionName">
                        <option value="" disabled selected> Select Section </option>
                        <option *ngFor="let sec of sections" [ngValue]="sec.value"> {{ sec.label }}</option>
                    </select>  
                    <span class="required" *ngIf="(rf.submitted || courseForm.controls.section.touched) && !courseForm.value.section">(Section required)</span>
                </div>
                <div class="col-6">      
                    <input type="text" class="form-control input-field" name="students" formControlName="instructorName" placeholder="Instructor Name*">
                    <span class="required" *ngIf="(rf.submitted || courseForm.controls.instructorName.touched) && !courseForm.value.instructorName">(Instructor Name required)</span>
                </div>
            </div>
            <div class="row m--margin-left-10 m--margin-top-15">
                <div class="col-12">    
                    <label for="exampleFormControlFile2"><strong class="h5">Course Syllabus</strong></label><br><br> 
                    <input type="file" class="form-control-file" id="exampleFormControlFile2">
                </div>
            </div>
            <div class="row m--margin-left-10 m--margin-top-15">
                <div class="col-12">      
                    <button type="submit" class="btn btn-primary border rounded-pill floatright" (click)="nextReviewDetail()">Next</button>
                </div>
            </div>          
        </div>   
        <div class="m--margin-padding-40" id="advDetail" *ngIf="reviewDetail">
            <div class="row m--margin-left-10 m--margin-top-15">
                <div class="col-12">          
                <p>
                    <span class="h4 underline text-underline">Review</span><span class="h4"></span>
                </p>
                </div>
            </div>   
            <div class="row m--margin-left-10">
                <div class="col-12 text-center">          
                    <img class="course-image" src="{{courseDetails.CourseImgURL}}" />  
                </div>
              </div>  
            <div class="row m--margin-left-10 m--margin-top-15">
                <p><strong>Welcome to {{ courseDetails.CourseId }} </strong></p>
                <p> {{ courseDetails.CourseAnnouncement }}</p>
                <p> <strong>Schedule : </strong> <br>
                    Mon & Wed - 10.30 AM - 11.30 AM <br>
                    Tue & Thu - 3.00 PM - 4.00 PM <br> </p> 
                <p><strong>How to navigate here in the course ?</strong></p>
                <p> {{ courseDetails.CourseDescription }}</p>
                <p> <strong>Office Hours : </strong> <br>
                    Room Number - 105 Seat 11 <br>
                    Mon & Wed - 10.30 AM - 11.30 AM <br>
                    Tue & Thu - 3.00 PM - 4.00 PM <br> </p> 
             </div>              <div class="row m--margin-left-10 m--margin-top-15">
                <div class="col-6">      
                    <button type="button" (click)="onSaveDraft()" class="btn btn-primary border rounded-pill floatleft">Save as Draft</button>
                </div>
                <div class="col-6"> 
                    <button type="button" (click)="onSubmit()" class="btn btn-secondary border rounded-pill floatright" (click)="nextReviewDetail()">Publish</button>     
                    <button type="reset" (click)="onDiscard()" class="btn btn-primary border rounded-pill floatright">Discard</button>
                </div>
            </div>         
        </div>  
    </form> 
    </main>
  </div>      