<div class="d-xl-flex justify-content-between mb-3">
    <h4 class="text-blue fw-bold mb-0 align-self-center">Discussion Forum</h4>                           
</div>
<div class="row">
    <div class="col-md-8">
        <div class="discussion-search bg-white rounded-5 d-flex">
            <div class="align-self-center">
                <img src="assets/images/user-profile.svg" class="me-2 rounded-circle">
            </div>
            <input type="text" class="form-control border-0" placeholder="Add your questions here...">
        </div>
        <div class="d-xl-flex justify-content-between my-3 ">
            <ul class="posts p-0 m-0 align-self-center">
                <li class="active">All posts</li>
                <li>Your posts</li>
            </ul>
            <form>
            <div class="form-group">
                <select class="form-select post-select bg-white border-0 h-auto" aria-label="Default select example">
                    <option selected>Popular posts</option>
                </select>
            </div>
            </form>
        </div>
        <div class="discussion-card mb-3">
            <div class="card-header d-flex justify-content-between p-0 border-0">
                <div class="d-flex">
                    <div class="me-3">
                        <img src="assets/images/student7.png" class="rounded-circle">
                    </div>
                    <div>
                        <h6 class="text-blue fw-bold">Lakshmi Ravi</h6>
                        <span>BE - CSE  - 2nd Sem - A</span>
                    </div>
                </div>
                <div class="dropdown align-self-center">
                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="assets/images/v-drop-dots.svg" class="img-fluid">
                    </button>
                    <ul class="dropdown-menu  bg-white card-shadow border-0 pe-3 py-2 dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item text-dark-blue" href="#"><img src="assets/images/archive.svg" class="img-fluid me-2">Archive</a></li>
                      <li><a class="dropdown-item text-red" href="#"><img src="assets/images/delete-icon.png" class="img-fluid me-2">Delete</a></li>
                    </ul>
                  </div>
            </div>
            <div class="card-body px-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper non urna id molestie. Ut ac urna id lacus porttitor imperdiet. Phasellus sed nisi enim. Fusce vel dignissim diam, a pretium turpis. Nulla varius finibus neque, ac volutpat turpis rutrum eget. Praesent eu metus dignissim, elementum ante eu, euismod magna. Nunc blandit risus non tortor gravida varius. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed in lacinia magna, vitae dapibus lectus. Sed odio nunc, ornare ac dui at, auctor dignissim libero. Nunc lobortis scelerisque augue eget tincidunt. </p>
            </div>
            <div class="card-footer border-0 pt-3 p-0 border-0">
                <ul class="p-0">
                    <li><img src="assets/images/heart-icon.svg" class="me-2">6 likes</li>
                    <li><img src="assets/images/comment.svg" class="me-2">0 comments</li>
                </ul>
                <div class="comment-field rounded-5 d-flex">
                    <div class="align-self-center">
                        <img src="assets/images/user-profile.svg" class="me-3 rounded-circle">
                    </div>
                    <input type="text" class="form-control border-0" placeholder="Write a comment here...">
                </div>
            </div>
        </div>
        <div class="discussion-card mb-3">
            <div class="card-header d-flex justify-content-between p-0 border-0">
                <div class="d-flex">
                    <div class="me-3">
                        <img src="assets/images/student7.png" class="rounded-circle">
                    </div>
                    <div>
                        <h6 class="text-blue fw-bold">Lakshmi Ravi</h6>
                        <span>BE - CSE  - 2nd Sem - A</span>
                    </div>
                </div>
                <div class="dropdown align-self-center">
                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="assets/images/v-drop-dots.svg" class="img-fluid">
                    </button>
                    <ul class="dropdown-menu  bg-white card-shadow border-0 pe-3 py-2 dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item text-dark-blue" href="#"><img src="assets/images/archive.svg" class="img-fluid me-2">Archive</a></li>
                      <li><a class="dropdown-item text-red" href="#"><img src="assets/images/delete-icon.png" class="img-fluid me-2">Delete</a></li>
                    </ul>
                  </div>
            </div>
            <div class="card-body px-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper non urna id molestie. Ut ac urna id lacus porttitor imperdiet. Phasellus sed nisi enim. Fusce vel dignissim diam, a pretium turpis. Nulla varius finibus neque, ac volutpat turpis rutrum eget. Praesent eu metus dignissim, elementum ante eu, euismod magna. Nunc blandit risus non tortor gravida varius. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed in lacinia magna, vitae dapibus lectus. Sed odio nunc, ornare ac dui at, auctor dignissim libero. Nunc lobortis scelerisque augue eget tincidunt. </p>
            </div>
            <div class="card-footer border-0 pt-3 p-0 border-0">
                <ul class="p-0">
                    <li><img src="assets/images/filled-heart-icon.svg" class="me-2">You and 6 others like this</li>
                    <li><img src="assets/images/comment.svg" class="me-2">5 comments</li>
                </ul>
                <div class="comment-field rounded-5 d-flex mb-3">
                    <div class="align-self-center">
                        <img src="assets/images/user-profile.svg" class="me-3 rounded-circle">
                    </div>
                    <input type="text" class="form-control border-0" placeholder="Write a comment here...">
                </div>
                <div class="discussion-card comment-replay mb-3">
                    <div class="card-header d-flex justify-content-between p-0 border-0">
                        <div class="d-flex">
                            <div class="me-3">
                                <img src="assets/images/student7.png" class="rounded-circle">
                            </div>
                            <div>
                                <h6 class="text-blue fw-bold">Lakshmi Ravi</h6>
                                <span>BE - CSE  - 2nd Sem - A</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body px-0 border-0">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper non urna id molestie. Ut ac urna idlacus porttitor imperdiet. Phasellus sed nisi enim. Fusce vel dignissim diam, a pretium turpis. Nulla varius finibus neque, ac volutpat turpis rutrum eget. Praesent eu metus dignissim, elementum ante eu, euismod magn auncblan dit risus non tortor gravida varius. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed in lacinia magna, vitae dapibus </p>
                    </div>
                    <div class="card-footer border-0  p-0 border-0">
                        <ul class="p-0 mb-0 d-flex justify-content-between">
                            <li><img src="assets/images/heart-icon.svg" class="me-2">6 likes</li>
                            <li class="text-dark-blue fw-bold"><img src="assets/images/delete-icon.svg" class="img-fluid me-2">Delete</li>
                        </ul>
                    </div>
                </div>
                <div class="discussion-card comment-replay mb-3">
                    <div class="card-header d-flex justify-content-between p-0 border-0">
                        <div class="d-flex">
                            <div class="me-3">
                                <img src="assets/images/student7.png" class="rounded-circle">
                            </div>
                            <div>
                                <h6 class="text-blue fw-bold">Lakshmi Ravi</h6>
                                <span>BE - CSE  - 2nd Sem - A</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body px-0 border-0">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper non urna id molestie. Ut ac urna idlacus porttitor imperdiet. Phasellus sed nisi enim. Fusce vel dignissim diam, a pretium turpis. Nulla varius finibus neque, ac volutpat turpis rutrum eget. Praesent eu metus dignissim, elementum ante eu, euismod magn auncblan dit risus non tortor gravida varius. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed in lacinia magna, vitae dapibus </p>
                    </div>
                    <div class="card-footer border-0  p-0 border-0">
                        <ul class="p-0 mb-0 d-flex justify-content-between">
                            <li><img src="assets/images/heart-icon.svg" class="me-2">6 likes</li>
                            <li class="text-dark-blue fw-bold"><img src="assets/images/delete-icon.svg" class="img-fluid me-2">Delete</li>
                        </ul>
                    </div>
                </div>
                <div class="load-more"><p class="fw-bold text-center text-grey mt-4 mb-1">Load more comments</p></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-0 mb-4 card-shadow rounded-5 py-3 px-2 description-card">
            <div class="card-header border-0 bg-0 pb-0 justify-content-between d-flex">
                <h6 class="fw-bold text-dark-blue mb-0">Description</h6>
                <a href="" class="fw-bold text-dark-blue" data-bs-toggle="modal" data-bs-target="#edit-subject-description"><img src="assets/images/edit.svg"> Edit</a>
            </div>
            <div class="card-body pb-2">
                <p class="text-grey mb-0">Welcome to the discussion forums! Ask questions, debate ideas, and find classmates who share your goals. Browse through the posts, questions and comments posted for this class.</p>
            </div>
        </div>
        <div class="moderators mt-2">
            <div class="d-flex justify-content-between">
                <div class="pe-3">
                    <h6 class="fw-bold text-dark-blue mb-2">Moderators</h6>
                    <p class="text-grey">Modurators can delete discussion posts and comments of students</p>
                </div>
                <a href="" class="fw-bold text-dark-blue w-25 text-decoration-none" data-bs-toggle="modal" data-bs-target="#add-modurator">+ Add</a>
            </div>
            <div class="moderators-card card-shadow d-flex justify-content-between py-2 px-3 mb-3">
                <div class="d-flex py-1">
                    <div class="me-2">
                        <img src="assets/images/student2.png" class="rounded-circle">
                    </div>
                    <div>
                        <h6 class="text-dark-blue mb-0">Peter Parker</h6>
                        <span>102801</span>
                    </div>
                </div>
                <img src="assets/images/delete-filled.svg">
            </div>
            <div class="moderators-card card-shadow d-flex justify-content-between py-2 px-3 mb-3">
                <div class="d-flex py-1">
                    <div class="me-2">
                        <img src="assets/images/student3.png" class="rounded-circle">
                    </div>
                    <div>
                        <h6 class="text-dark-blue mb-0">Deepan Remijious</h6>
                        <span>102801</span>
                    </div>
                </div>
                <img src="assets/images/delete-filled.svg">
            </div>
            <div class="moderators-card card-shadow d-flex justify-content-between py-2 px-3 mb-3">
                <div class="d-flex py-1">
                    <div class="me-2">
                        <img src="assets/images/student4.png" class="rounded-circle">
                    </div>
                    <div>
                        <h6 class="text-dark-blue mb-0">Ruban Karthik</h6>
                        <span>102801</span>
                    </div>
                </div>
                <img src="assets/images/delete-filled.svg">
            </div>
            <div class="moderators-card card-shadow d-flex justify-content-between py-2 px-3 mb-3">
                <div class="d-flex py-1">
                    <div class="me-2">
                        <img src="assets/images/student5.png" class="rounded-circle">
                    </div>
                    <div>
                        <h6 class="text-dark-blue mb-0">Jai Surya</h6>
                        <span>102801</span>
                    </div>
                </div>
                <img src="assets/images/delete-filled.svg">
            </div>
        </div>
    </div>
</div>