<div class="wrapper-inner px-lg-5 px-3 py-4">
  <div class="page-section">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item me-2"><a href="#"><img src="assets/images/home-big-icon.svg"></a></li>
            <li class="breadcrumb-item active" aria-current="page">Institution Profile</li>
          </ol>
        </nav>
        <div class="profile-details">
          <h4 class="page-title pb-4">Institution Profile</h4>
          <div class="row mt-2">
            <div class="col-md-4">
              <div class="profile-card card-shadow bg-white p-lg-4 p-2 py-4 mb-2">
                  <div class="row">
                    <div class="col-lg-4 align-self-center">
                        <div class="profile-image text-center">
                            <img src="assets/images/admin.svg" class="img-fluid p-image" alt="profile-image">
                        </div>
                    </div>
                    <div class="col-lg-8 profile-image profile-text align-self-center mt-lg-0 mt-4">
                      <h5 class="text-dark-blue fw-bold mb-4">Wisdom Academy</h5>
                      <span class="text-blue mt-2"><img src="assets/images/pen-icon.png" class="img-fluid me-2" alt="">Change</span>
                    </div>
                  </div>
              </div>
              <div class="nav flex-column nav-pills profile-tab" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link active mb-2 card-shadow" id="v-pills-basic-tab" data-bs-toggle="pill" data-bs-target="#v-pills-basic" type="button" role="tab" aria-controls="v-pills-basic" aria-selected="true">Basic Information<img src="assets/images/grey-long-arrow.png" class="img-fluid float-end my-1"></button>
                <button class="nav-link mb-2 card-shadow" id="v-pills-address-tab" data-bs-toggle="pill" data-bs-target="#v-pills-address" type="button" role="tab" aria-controls="v-pills-address" aria-selected="false">Address Information<img src="assets/images/grey-long-arrow.png" class="img-fluid float-end my-1"></button>
                <button class="nav-link mb-2 card-shadow" id="v-pills-guardian-tab" data-bs-toggle="pill" data-bs-target="#v-pills-guardian" type="button" role="tab" aria-controls="v-pills-guardian" aria-selected="false">Subscription Info<img src="assets/images/grey-long-arrow.png" class="img-fluid float-end my-1"></button>
                </div>
            </div>
            <div class="col-md-7">
              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-basic" role="tabpanel" aria-labelledby="v-pills-basic-tab">
                  <div class="profile-info">
                    <div class="profile-title card-shadow d-flex align-items-stretch justify-content-between flex-lg-grow-1 mb-2">
                      <p class="m-0 text-blue">Basic Information</p>
                      <div class="" data-bs-toggle="modal" data-bs-target="#basic-info"><span class="text-dark-blue mt-2"><img src="assets/images/black-pen.png" class="img-fluid me-2" alt="">Edit</span></div>
                    </div>
                    <div class="profile-info-card card-shadow bg-white">
                      <div class="table-responsive">
                      <table class="table mb-0">
                        <tr>
                          <th>Name</th>
                          <td>:</td>
                          <td>Wisdom Academy</td>
                        </tr>
                        <tr>
                          <th>Email</th>
                          <td>:</td>
                          <td>anizhathif@gmail.com</td>
                        </tr>
                        <tr>
                          <th>Phone</th>
                          <td>:</td>
                          <td>+91 98765 35453</td>
                        </tr>
                        <tr>
                          <th>Website</th>
                          <td>:</td>
                          <td>www.wisdomacademy.com</td>
                        </tr>
                      </table>
                      </div>
                    </div>
                    <div class="profile-info-card card-shadow bg-white mt-3 p-4">
                        <div class="d-flex justify-content-between mb-2">
                          <h5 class="text-dark-blue fw-bold">Description</h5>
                          <a href="" class="fw-bold text-dark-blue text-decoration-none" data-bs-toggle="modal" data-bs-target="#basic-description"><img  src="assets/images/edit.svg" class="me-1"> Edit</a>
                        </div>
                        <p>Wisdon Academy is a private research university in Chennai, Tamilnadu. Founded in 1970 by Lakhsmi Murugan, it is the oldest private research university in Chennai.</p>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-address" role="tabpanel" aria-labelledby="v-pills-address-tab">
                  <div class="profile-info">
                    <div class="profile-title card-shadow d-flex align-items-stretch justify-content-between flex-lg-grow-1 mb-2">
                      <p class="m-0 text-blue">Address Information</p>
                      <div class="" data-bs-toggle="modal" data-bs-target="#address-info"><span class="text-dark-blue mt-2"><img src="assets/images/black-pen.png" class="img-fluid me-2" alt="">Edit</span></div>
                    </div>
                    <div class="profile-info-card card-shadow bg-white">
                      <div class="table-responsive">
                      <table class="table mb-0">
                        <tr>
                          <th>Address</th>
                          <td>:</td>
                          <td>420 - B, Giris Appartment</td>
                        </tr>
                        <tr>
                          <th>City</th>
                          <td>:</td>
                          <td>Ambattur</td>
                        </tr>
                        <tr>
                          <th>District</th>
                          <td>:</td>
                          <td>Chennai</td>
                        </tr>
                        <tr>
                          <th>State</th>
                          <td>:</td>
                          <td>Tamilnadu</td>
                        </tr>
                        <tr>
                          <th>Country</th>
                          <td>:</td>
                          <td>India</td>
                        </tr>
                        <tr>
                          <th>Pincode</th>
                          <td>:</td>
                          <td>600 009</td>
                        </tr>
                      </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-guardian" role="tabpanel" aria-labelledby="v-pills-guardian-tab">
                  <div class="profile-info">
                    <div class="profile-title card-shadow d-flex align-items-stretch justify-content-between flex-lg-grow-1 mb-2">
                      <p class="m-0 text-blue">Subscription Info</p>
                      <div class=""><span class="text-dark-blue mt-2"><img src="assets/images/black-pen.png" class="img-fluid me-2" alt="">Edit</span></div>
                    </div>
                    <div class="subscription-info mt-4">
                        <div class="row">
                          <div class="col-md-8">
                            <div class="d-flex">
                                <div class="price col-md-2">
                                  <h2>$</h2>
                                </div>
                                <div>
                                  <h4 class="text-dark-blue fw-bold">Advanced Plan</h4>
                                  <p>Advanced maanavar features for larger institution with unlimited users</p>
                                  <div class="d-flex justify-content-between">
                                    <div>
                                      <span>Plan started at</span>
                                      <h4>01 Aug, 2020</h4>
                                    </div>
                                    <div>
                                      <span>Plan started at</span>
                                      <h4>01 Aug, 2020</h4>
                                    </div>
                                  </div>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <h5>Currently Active</h5>
                          </div>
                        </div>
                    </div>
                    <div class="table-responsive course-table">
                      <table class="table">
                          <thead>
                              <tr>
                                  <th>Plan</th>
                                  <th>Start Date</th>
                                  <th>End Date</th>
                                  <th>Status</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <th>Plan 1</th>
                                  <td>01 Aug, 2019</td>
                                  <td>01 Aug, 2019</td>
                                  <td class="text-dark-red status">Expired</td>                                  
                              </tr>
                              <tr>
                                <th>Plan 1</th>
                                <td>01 Aug, 2017</td>
                                <td>30 Sep, 2019</td>
                                <td class="text-dark-red status">Expired</td>                                  
                            </tr>
                            <tr>
                              <th>Plan 1</th>
                              <td>30 Sep, 2016</td>
                              <td>30 Sep, 2017</td>
                              <td class="text-dark-red status">Expired</td>                                  
                          </tr>
                          </tbody>
                      </table>
                  </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-education" role="tabpanel" aria-labelledby="v-pills-education-tab">
                  <div class="profile-info">
                    <div class="profile-title card-shadow d-flex align-items-stretch justify-content-between flex-lg-grow-1 mb-2">
                      <p class="m-0 text-blue">Education Information</p>
                      <div class=""><span class="text-dark-blue mt-2"><img src="assets/images/black-pen.png" class="img-fluid me-2" alt="">Edit</span></div>
                    </div>
                    <div class="profile-info-card card-shadow bg-white">
                      <div class="table-responsive">
                      <table class="table mb-0">
                        <tr>
                          <th>Roll No.</th>
                          <td>:</td>
                          <td>102801</td>
                        </tr>
                        <tr>
                          <th>Department</th>
                          <td>:</td>
                          <td>Computer Science Engineering</td>
                        </tr>
                        <tr>
                          <th>Programme</th>
                          <td>:</td>
                          <td>BE</td>
                        </tr>          
                        <tr>
                          <th>Course</th>
                          <td>:</td>
                          <td>Computer Science</td>
                        </tr>
                        <tr>
                          <th>Semester</th>
                          <td>:</td>
                          <td>1st Semester</td>
                        </tr>
                        <tr>
                          <th>Section</th>
                          <td>:</td>
                          <td>A</td>
                        </tr>   
                        <tr>
                          <th>Joining Date</th>
                          <td>:</td>
                          <td>1 November, 2018</td>
                        </tr>                      
                      </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>    

  </div>
</div>
<!-- basic information-modal -->
<div class="modal fade" id="basic-info" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalToggleLabel">Edit Basic Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><img src="assets/images/dismiss.svg"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group mb-3">
            <label>Date of Birth</label>
                <div class="d-flex">
                    <select class="form-select w-50" aria-label=" select example">
                        <option value="0">31</option>
                        <option value="1">30</option>
                        <option value="2">29</option>
                        <option value="3">28</option>
                    </select>
                    <select class="form-select mx-2 w-75" aria-label=" select example">
                        <option value="0">November</option>
                        <option value="1">December</option>
                        <option value="2">January</option>
                        <option value="3">Feb</option>
                    </select>
                    <select class="form-select w-50" aria-label=" select example">
                        <option value="0">2021</option>
                        <option value="1">2020</option>
                        <option value="2">2019</option>
                        <option value="3">2018</option>
                    </select>
                </div>
          </div>
          <div class="form-group   mb-3">
            <label>Mobile</label>
            <select class="form-select" aria-label=" select example">
              <option value="0">India</option>
              <option value="1">US</option>
              <option value="2">Pak</option>
          </select>
          </div>         
      </form>
      </div>
      <div class="modal-footer justify-content-between px-5">
          <button class="btn text-grey px-0 cancel" >Cancel</button>
          <button type="button" class="primary-theam-button  mt-lg-0 px-lg-4 px-1 text-lg-start" >Create</button>
        
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="basic-description" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalToggleLabel">Edit Description</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><img src="assets/images/dismiss.svg"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group   mb-3">
            <label>Description</label>
            <textarea type="text" rows="5" placeholder="" class="form-control">Wisdon Academy is a private research university in Chennai, Tamilnadu. Founded in 1970 by Lakhsmi Murugan, it is the oldest private research university in Chennai.</textarea>
          </div>         
      </form>
      </div>
      <div class="modal-footer justify-content-between px-5">
          <button class="btn text-grey px-0 cancel" >Cancel</button>
          <button type="button" class="primary-theam-button  mt-lg-0 px-lg-4 px-1 text-lg-start" >Create</button>
        
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="address-info" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalToggleLabel">Edit Address Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><img src="assets/images/dismiss.svg"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group   mb-3">
            <label>Address Line 1</label>
            <input type="text" class="form-control" placeholder=" " value="420-B, ">
          </div> 
          <div class="form-group   mb-3">
            <label>Address Line 2</label>
            <input type="text" class="form-control" placeholder=" " value="Giris Appartment">
          </div>
          <div class="form-group   mb-3">
            <label>City</label>
            <input type="text" class="form-control" placeholder=" " value="Ambattur">
          </div>   
          <div class="form-group   mb-3">
              <label>Country</label>
              <select class="form-select" aria-label=" select example">
                <option value="0">India</option>
                <option value="1">US</option>
                <option value="2">Pak</option>
            </select>
          </div>   
          <div class="form-group   mb-3">
            <label>District</label>
            <select class="form-select" aria-label=" select example">
              <option value="0">Chennai</option>
              <option value="1">Karnataka</option>
              <option value="2">AP</option>
          </select>
        </div>   
        <div class="form-group   mb-3">
          <label>Postal Code</label>
          <input type="text" class="form-control" placeholder=" " value="600 009">
        </div>         
      </form>
      </div>
      <div class="modal-footer justify-content-between px-5">
          <button class="btn text-grey px-0 cancel" >Cancel</button>
          <button type="button" class="primary-theam-button  mt-lg-0 px-lg-4 px-1 text-lg-start" >Create</button>
        
      </div>
    </div>
  </div>
</div>