<div class="main-content">
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <div class="announcementWrapper">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <img src="assets/images/home.svg" alt="Logo">
                  </li>
                  <li class="breadcrumb-item">
                    <a href="">Announcements</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="">Announcement Detail</a>
                  </li>
                </ul>
                <h3 class="text-dark-blue">
                    <a routerLink="/instructor/announcements">
                        <img src="assets/images/sidearrow.svg" class="sidearrow" alt=""> 
                    </a>
                    
                    Instructor HOD Meeting</h3>
                <div class="announcement-list announcement-detail">
                  <div class="announcement-tiles">
                    <div class="announcement-cards cards common-box-shadow bg-white border-radius">
                      <div class="d-flex justify-content-between mb pd position-relative publish-card">
                       
                      <span>
                         
                         <span class="announcementime text-grey">Status</span>
                         <h4> <img src="assets/images/schduleclock.svg" alt="Logo">Scheduled for</h4>
                      </span>
                      <span class="centersched">
                         
                        <span class="announcementime text-grey">Scheduled for</span>
                        <p>24 August 2021 - 09:30 AM</p>
                     </span>
                     <span>
                         
                      <span class="announcementime text-grey">
                        <button type="button" class="btn btn-primary">Publish Now</button>
                      </span>
                   </span>
                      </div>
                    </div>
                  </div>
                    <div class="announcement-tiles">
                   
                      
                        <div class="announcement-cards cards common-box-shadow bg-white border-radius">
                         <div class="d-flex justify-content-between mb pd position-relative">
                           <span>
                            <i class="fa fa-circle text-blue" aria-hidden="true"></i>
                            <span class="text-dark-blue announcementnametag">Dean</span>
                           </span>
                         <span>
                            <i class="fa fa-circle text-blue" aria-hidden="true"></i>
                            <span class="announcementime text-grey">21 March, 2021 - 04:30 PM</span>
                         </span>
                         <a data-bs-toggle="modal" data-bs-target="#editModal" class="editIcon"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                         </div>
                         <div class="pd border-0">
                            <h4 class="text-dark-blue">Instructor HOD Meeting</h4>
                            <p class="text-dark-blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper non urna id molestie. Ut ac urna id lacus porttitor imperdiet. Phasellus sed nisi enim. Fusce vel dignissim diam, a pretium turpis. Nulla varius finibus neque, ac volutpat turpis rutrum eget. Praesent eu metus dignissim, elementum ante eu, euismod magna. Nunc blandit risus non tortor gravida varius. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed in lacinia magna, vitae dapibus lectus. Sed odio nunc, ornare ac dui at, auctor dignissim libero. Nunc lobortis scelerisque augue eget tincidunt. </p>
                            <p class="text-dark-blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper non urna id molestie. Ut ac urna id lacus porttitor imperdiet. Phasellus sed nisi enim. Fusce vel dignissim diam, a pretium turpis. Nulla varius finibus neque, ac volutpat turpis rutrum eget. Praesent eu metus dignissim, elementum ante eu, euismod magna. Nunc blandit risus non tortor gravida varius. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed in lacinia magna, vitae dapibus lectus. Sed odio nunc, ornare ac dui at, auctor dignissim libero. Nunc lobortis scelerisque augue eget tincidunt. </p>
                         </div>
                           
                        </div>
                    
                    
                    </div>
                  
                  </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="announcement-documents">
                <img src="https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832__480.jpg" alt="" class="coverimg">
                <div class='file coverupload'>
                  <label for='input-file'>
                    <i class="fa fa-pencil" aria-hidden="true"></i> Change Cover
                  </label>
                  <input id='input-file' type='file' />
                </div>
            </div>
            <div class="announcement-documents">
               <h4 class="common-titletwo text-dark-blue">
                 Documents
                <a data-bs-toggle="modal" data-bs-target="#documentModal" class="editdoc">
                  <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                </a>
                </h4>
                <!-- No attachment -->
               <!-- <div class="no-docs">
                <img src="assets/images/nodoc.svg" alt="Logo" class="nodocimg">
                <h3>No attchements</h3>
                <p>Lorem ipsum dolor sit amet, </p>
               </div> -->
              <!-- No attachment -->
          
              <div class="docslist">
                <ul>
                  <li>
                    <div class="docscard">
                      <div class="docflex">
                        <img src="assets/images/word.svg" alt="" class="document">
                        <span>
                          <h3>No attchements</h3>
                          <p>125 Kb </p>
                        </span>
                      </div>
                     
                      <img src="assets/images/download.svg" alt="">
                    </div>
                  </li>
                  <li>
                    <div class="docscard">
                      <div class="docflex">
                        <img src="assets/images/word.svg" alt="" class="document">
                        <span>
                          <h3>No attchements</h3>
                          <p>125 Kb </p>
                        </span>
                      </div>
                     
                      <img src="assets/images/download.svg" alt="">
                    </div>
                  </li>
                  <li>
                    <div class="docscard">
                      <div class="docflex">
                        <img src="assets/images/word.svg" alt="" class="document">
                        <span>
                          <h3>No attchements</h3>
                          <p>125 Kb </p>
                        </span>
                      </div>
                     
                      <img src="assets/images/download.svg" alt="">
                    </div>
                  </li>
                  <li>
                    <div class="docscard">
                      <div class="docflex">
                        <img src="assets/images/word.svg" alt="" class="document">
                        <span>
                          <h3>No attchements</h3>
                          <p>125 Kb </p>
                        </span>
                      </div>
                     
                      <img src="assets/images/download.svg" alt="">
                    </div>
                  </li>
                  <li>
                    <div class="docscard">
                      <div class="docflex">
                        <img src="assets/images/word.svg" alt="" class="document">
                        <span>
                          <h3>No attchements</h3>
                          <p>125 Kb </p>
                        </span>
                      </div>
                     
                      <img src="assets/images/download.svg" alt="">
                    </div>
                  </li>
                </ul>
               </div>
            </div>
            <div class="announcement-documents m-0">
                <h4 class="common-titletwo text-dark-blue">Assigned to   <a href="" class="editdoc">
                  <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                </a></h4>
                <div class="dept-card">
                  <span class="dept-tag ">Instructors</span>
                  <h3 class="text-dark-blue">Dept. of Computer Science</h3>
                  <p>This include all instructor of departments</p>
                  <ul class="friends-harmonic">
                    <li>
                      <a href="">
                        <img src="https://html.crumina.net/html-olympus/img/friend-harmonic7.webp" alt="">
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="https://html.crumina.net/html-olympus/img/friend-harmonic7.webp" alt="">
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="https://html.crumina.net/html-olympus/img/friend-harmonic7.webp" alt="">
                      </a>
                    </li>
                    <li>
                      <a href="">
                       +28
                      </a>
                    </li>
                  </ul>
                </div>
             </div>
             <!-- Document model -->
             <div class="modal fade announcementModal" id="documentModal" tabindex="-1" aria-labelledby="announcementModal" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="announcementModal">Edit Documents</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="announcementModalWrap">
                      
                      
                     
                      <div class="form-group">
                        <label for="first_field" class="form-label">Documents </label>
                        <div class="dropzone">
                          <div class="text-wrapper">
                            <div class="centered">
                              <input type="file" name="file" id="file">
                              <img src="assets/images/imgfile.svg" alt="Logo">
                              <label for="file">Drop your image here, <span class="textLink">or browse</span> </label>
                              <p>Support: Doc, Pdf, Jpg, Png</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="docslist">
                          <ul>
                            <li>
                              <div class="docscard">
                                <div class="docflex">
                                  <img src="assets/images/word.svg" alt="" class="document">
                                  <span>
                                    <h3>No attchements</h3>
                                    <p>125 Kb </p>
                                  </span>
                                </div>
                               
                                <img src="assets/images/close.svg" alt="">
                              </div>
                            </li>
                            <li>
                              <div class="docscard">
                                <div class="docflex">
                                  <img src="assets/images/word.svg" alt="" class="document">
                                  <span>
                                    <h3>No attchements</h3>
                                    <p>125 Kb </p>
                                  </span>
                                </div>
                               
                                <img src="assets/images/close.svg" alt="">
                              </div>
                            </li>
                            <li>
                              <div class="docscard">
                                <div class="docflex">
                                  <img src="assets/images/word.svg" alt="" class="document">
                                  <span>
                                    <h3>No attchements</h3>
                                    <p>125 Kb </p>
                                  </span>
                                </div>
                               
                                <img src="assets/images/close.svg" alt="">
                              </div>
                            </li>
                           
                          </ul>
                         </div>
                      </div>
                    </div>
                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Save Changes</button>
                  </div>
                </div>
              </div>
            </div>
             <!-- Document model -->
               <!-- Document model -->
               <div class="modal fade announcementModal" id="editModal" tabindex="-1" aria-labelledby="announcementModal" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="announcementModal">Edit Assigment</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="announcementModalWrap pt-0">
                        <div class="form-group">
                          <input name="text" type="text" class="form-control textbox"  placeholder="Type" aria-label="Email Address">     
                        </div>
                        <div class="form-group">
                          <label for="first_field" class="form-label">Description</label>
                          <textarea name="" id=""  class="form-control"></textarea>
                        </div>
                      </div>
                      
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Cancel</button>
                      <button type="button" class="btn btn-primary">Save Changes</button>
                    </div>
                  </div>
                </div>
              </div>
               <!-- Document model -->
        </div>
    </div>
</div>