.subject-tab{
    &.nav-tabs{
        .nav-link{
            margin: 0 1.5rem;
            position: relative;           
            &.active{
                background-color: transparent;
                border-color: transparent;
                img{
                    filter: invert(100%) sepia(0%) saturate(6559%) hue-rotate(322deg) brightness(117%) contrast(100%);
                }
                &::after{
                    content: '';
                    width: 100%;
                    height: 4px;
                    background: linear-gradient(155.52deg, #F0855E 8.38%, #FF7A65 91.34%);
                    border-radius: 6px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }
}
.list-tabs{
    background: var(--white-color);
    border: 0;
    border-radius: 50px;
    .nav-link{
        color: var(--blue-color);
        font-size: 12px;
        font-weight: 600;
        padding: 0.4rem 2rem;
        border-radius: 50px;
        &.active,&:hover{
            background-color: var(--blue-color);
            color: var(--white-color);
            border-radius: 50px;
            border-color:transparent;
        }
        &:hover{
            border-color:transparent;
            opacity: 0.35;
        }
    }
}
.review-block{
    color: var(--dark-blue-color);
    p{
        font-size: 13px;
        line-height: 22px;
    }
    ul{
        li{
            font-size: 13px;
        line-height: 22px;
        }
    }
}
.assignment-card{
    background: linear-gradient(103.02deg, #FFFFFF 50%, #F7F8FF 100%);
    box-shadow: 0px 0px 8px rgba(39, 71, 233, 0.16);
    border-radius: 8px;
    span{
        font-size: 14px;
        font-weight: 600;
        color:#727585;
    }
    .card-header{
        border-bottom: 1px solid #BBCAFF;
        padding: 1rem 1.5rem;
    }
    .card-body{
        border-bottom: 1px solid #BBCAFF;
        padding: 1.8rem 1.5rem 1.5rem;
        p{font-weight: 600;
            color: #727585;
            text-align: center;
            margin-bottom: 0;
        }
    }
    .card-footer{
        padding: 1rem 1.5rem;
    }
}
.progress{
    height: 10px;
    background: #D6DAEF;
    border-radius: 10px;
    .progress-bar{
        background-color: #00B956;
        border-radius: 10px;
    }
}

.deadline-card{
   
    .progress{
        height: 4px;
        background: #D6DAEF;
        position: relative;
        margin-right: 13px;
        .progress-bar{
            background: #00B956;
        }
    }
    .left-bar{
        width: 16px;
        height: 16px;
        border: 4px solid #00B956;
        border-radius: 50%;
        background: #00B956;
        position: absolute;
        left: 0px;
        top: -6px;
    }
    .right-bar{
        width: 16px;
        height: 16px;
        border: 4px solid #FD4651;
        border-radius: 50%;
        position: absolute;
        right: 0px;
        top: -6px;
    }
    span{
        color: var(--grey-color);
        font-weight: 600;
        font-size: 12px;
    }
    h5{
        font-size: 14px;
        font-weight: 700;
        color: var(--dark-blue-color);
    }
}
.moderators-card{
    background: var(--white-color);
    border-radius: 8px;
    h6{
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 0;
    }
    span{
        font-size: 10px;
        color: var(--grey-color);
        font-weight: 600;
    }
}
.marks-card{
    background: linear-gradient(103.02deg, #FFFFFF 50%, #F7F8FF 100%);
    box-shadow: 0px 0px 8px rgba(39, 71, 233, 0.16);
    border-radius: 8px;
    padding: 1rem 1.5rem;
    span{
        font-weight: 600;
        color: var(--grey-color);
    }
    .progress{
        background: #FD4651;    
        .min-bar{
            background: #FD4651;
            border-radius: 0;
        }
        .max-bar{
            background:#00B956;
        }
    }
}
table{
    border-collapse: separate;
border-spacing: 0 1em;
    tr,th,td{
        border: 0;
    }
    thead{
        tr{
            th{
                font-size: 12px;
                color: var(--grey-color);
                font-style: normal !important;
                font-family: 'Open Sans', sans-serif !important;
                padding: 10px 20px 0px;
                &:first-child{
                    padding: 10px 30px 0px;
                }
            }
        }
    }
    tbody{
        border-radius: 8px;
        tr{
            background: var(--white-color);
            box-shadow: 6px 10px 20px rgba(64, 83, 163, 0.1);
            border-radius: 8px;                
            th{
                font-size: 14px;
                font-weight: 700;
                color: var(--dark-blue-color);
                padding: 20px;
                font-family: 'Open Sans', sans-serif !important;
                vertical-align: middle;
                white-space: nowrap;
                border-bottom-left-radius: 8px; 
                border-top-left-radius: 8px; 
                &:first-child{
                    padding: 20px 30px;
                }
            }
            td{
                font-size: 12px;
                color: var(--grey-color);
                font-style: normal !important;
                padding: 20px;
                font-family: 'Open Sans', sans-serif !important;
                font-weight:600 ;
                vertical-align: middle;
                white-space: nowrap;
                &:last-child{
                    border-bottom-right-radius: 8px; 
                    border-top-right-radius: 8px; 
                }
                .button-light-red{
                    border: 1px solid var(--red-color);
                    border-radius: 50px;
                    font-weight: 600;
                    padding: 5px 20px;
                    &.disabled{
                        border: 1px solid var(--grey-color);
                        color: var(--grey-color);
                        opacity: 0.3;
                    }
                }
            }
            button{
                background-color: transparent;
                    border: 0;
                    padding: 0;
            }
            &:hover{
                background: #F6F8FF;
            }
        }
    }
}
form{
    margin-top: 1.2rem;
    .files{
        border: 1px dashed rgba(66, 80, 150, 0.5);
        position: relative;
        border-radius: 8px;
       
        input{
            border:0;
            padding: 2rem;
            &::-webkit-file-upload-button{
                display: none;
            }
            color: transparent;
            height: 200px;
            position: relative;
            z-index: 1;
            background: transparent;
        }
        .file-data{
            position: absolute;
            top: 3rem;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
            z-index: 0;
            p{
                font-size: 14px;
                color: var(--grey-color);
                margin-top: 10px;
                margin-bottom: 0;
                span{
                    font-weight: 700;
                    opacity: 1;
                }
            }
            span{
                font-size: 12px;
                opacity: 0.6;
            }
        }
    }
}
.course-card{
    background: linear-gradient(103.02deg, #FFFFFF 50%, #F7F8FF 100%);
    border: 0.5px solid #D1D0E8;
    border-radius: 10px;
    h6{
        font-size: 18px;
    }
    p{
        font-size: 14px;
        font-weight: 600;
    }
    .subject-list{
        li{
            font-size: 14px;
            font-weight: 600;
            display: inline-block;
            margin-right: 1.5rem;
            position: relative;
            &:not(:first-child):before{
                content: '';
                width: 5px;
                height: 5px;
                background: var(--grey-color);
                position: absolute;
                border-radius: 50%;
                top: 40%;
                left: -15px;
            }
        }
    }
    .student-list{
        ul{
            li{
                display: inline-block;
                list-style-type: none;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                margin-left: -5px;
                color: #727585;
                font-size: 13px;
                font-weight: 600;
                span{
                    background: var(--blue-color);
                    color: var(--white-color);
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    padding: 5px 10px;
                }
            }
        }
    }
    
    .badge{
        font-size: 14px;
        font-weight: 600;
    }
}