
<div class="auth-page">
    <img src="../../../../../assets/images/shape.svg" alt="" class="shape">
    <!-- <img src="../../../../../assets/images/Union.svg" alt="" class="shape tabshape"> -->
    <section class="navbars">
      <div class="containers">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="mainlogo">
              <img src="../../../../../assets/images/Logo.svg" alt="">
            </div>
          </div>
      
        </div>
    
        
      </div>
    </section>
    <div class="fxt-content">
      <div class="row">
        <div class="col-md-12">
          <div class="loginwrapper">
           
            <div>
             
    
            <h3>Create New Password</h3>
           
              <div class="fxt-form">
                <div class="form-group">
                  <label for="email" class="input-label">Password</label>
                  <div class="togglepass">
                    <input type="Password" [type]="showPassword ? 'text' : 'password'" id="email" class="form-control" name="email" placeholder="Enter Password" required="required">
      
                        <i alt="show" class="far fa-eye eye-show" 
                (click)="showPassword = !showPassword"
                [class.hide]="showPassword"></i>
                <i alt="hide" class="far fa-eye-slash eye-hide" 
                (click)="showPassword = !showPassword"
                [class.hide]="!showPassword"></i>
                  </div>
               </div>
               <div class="form-group">
                <label for="email" class="input-label">Re-enter Password</label>
                <div class="togglepass">
                  <input type="password" id="email" class="form-control" name="email" placeholder="Re-enter Password" required="required">
                  <img src="../../../../../assets/images/visible.svg" alt="">
                </div>
              
             </div>
               <a href="" class="loginbtn btn">Create Password</a>
               <div class="fxt-footer">
                <p>If you haven't made this request </p>
                <a routerLink="/login">  Click here to login session.</a>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyrights">
      <p>All Rights Reserved © 2024 Maanavar</p>
    </div>
  </div>
  