<app-main-page></app-main-page>
<div class="wrapper-inner px-lg-5 px-3 py-4">
    <div class="page-section">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item me-2"><a href="#"><img src="assets/images/home-big-icon.svg"></a></li>
              <li class="breadcrumb-item active" aria-current="page">My Students</li>
            </ol>
          </nav>
          <div class="page-start">
            <h4 class="page-title pb-4">My Students</h4>

            <div class="d-xl-flex justify-content-between  ">
                <ul class="nav nav-tabs list-tabs mb-4 mb-xl-0" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="current-tab" data-bs-toggle="tab" data-bs-target="#current" type="button" role="tab" aria-controls="current" aria-selected="true">All Batches</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="passed-tab" data-bs-toggle="tab" data-bs-target="#passed" type="button" role="tab" aria-controls="passed" aria-selected="false">All Students</button>
                    </li>
                    
                  </ul>

                  <ul class="nav nav-tabs list-tab-right border-0" id="myTab" role="tablist">
                    <li class="bg-white text-grey me-2">
                        <a href="#" class="filter text-decoration-none"><img src="assets/images/filter_list.svg" class="img-fluid me-1">Filters</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="list-tab" data-bs-toggle="tab" data-bs-target="#list" type="button" role="tab" aria-controls="list" aria-selected="false"><img src="assets/images/list-icon.svg" class="img-fluid"></button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="grid-tab" data-bs-toggle="tab" data-bs-target="#grid" type="button" role="tab" aria-controls="grid" aria-selected="true"><img src="assets/images/grid-icon.svg" class="img-fluid"></button>
                      </li>
                  </ul>
            </div>
            <div class="tab-content mt-4" id="myTabContent">
                <div class="tab-pane fade show active" id="current" role="tabpanel" aria-labelledby="current-tab">
                    <div class="row">
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="course-card master-card card-shadow bg-white p-4 h-100" routerLink="/my-batch">
                                <div class="align-self-center mb-2">
                                    <span class="badge bg-red text-white">Sem II - A</span>
                                </div>
                                <div class="d-flex justify-content-between mb-1">
                                    <div>
                                        <h6 class="text-dark-blue fw-bold">BE - Computer Science</h6>
                                        <p class="text-grey">Dept. of Computer Science</p>
                                    </div>
                                   
                                </div>
                                <div class="d-flex justify-content-between student-list">
                                    <ul class="p-0 m-0">
                                        <li><span>A</span></li>
                                        <li><img src="assets/images/s1.png" class="img-fluid"></li>
                                        <li><img src="assets/images/s2.png" class="img-fluid"></li>
                                        <li class="ms-2 text-grey">+ 28</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="course-card master-card card-shadow bg-white p-4 h-100">
                                <div class="align-self-center mb-2">
                                    <span class="badge bg-red text-white">Sem II - B</span>
                                </div>
                                <div class="d-flex justify-content-between mb-1">
                                    <div>
                                        <h6 class="text-dark-blue fw-bold">BE - Computer Science</h6>
                                        <p class="text-grey">Dept. of Computer Science</p>
                                    </div>
                                   
                                </div>
                                <div class="d-flex justify-content-between student-list">
                                    <ul class="p-0 m-0">
                                        <li><span>A</span></li>
                                        <li><img src="assets/images/s1.png" class="img-fluid"></li>
                                        <li><img src="assets/images/s2.png" class="img-fluid"></li>
                                        <li class="ms-2 text-grey">+ 28</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="course-card master-card card-shadow bg-white p-4 h-100">
                                <div class="align-self-center mb-2">
                                    <span class="badge bg-red text-white">Sem IV - A</span>
                                </div>
                                <div class="d-flex justify-content-between mb-1">
                                    <div>
                                        <h6 class="text-dark-blue fw-bold">B.Tech - Data Analytics</h6>
                                        <p class="text-grey">Dept. of Computer Science</p>
                                    </div>
                                   
                                </div>
                                <div class="d-flex justify-content-between student-list">
                                    <ul class="p-0 m-0">
                                        <li><span>A</span></li>
                                        <li><img src="assets/images/s1.png" class="img-fluid"></li>
                                        <li><img src="assets/images/s2.png" class="img-fluid"></li>
                                        <li class="ms-2 text-grey">+ 28</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="course-card master-card card-shadow bg-white p-4 h-100">
                                <div class="align-self-center mb-2">
                                    <span class="badge bg-red text-white">Sem I - B</span>
                                </div>
                                <div class="d-flex justify-content-between mb-1">
                                    <div>
                                        <h6 class="text-dark-blue fw-bold">BE - ECE</h6>
                                        <p class="text-grey">Dept. of Computer Science</p>
                                    </div>
                                   
                                </div>
                                <div class="d-flex justify-content-between student-list">
                                    <ul class="p-0 m-0">
                                        <li><span>A</span></li>
                                        <li><img src="assets/images/s1.png" class="img-fluid"></li>
                                        <li><img src="assets/images/s2.png" class="img-fluid"></li>
                                        <li class="ms-2 text-grey">+ 28</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="passed" role="tabpanel" aria-labelledby="passed-tab">
                    <div class="d-flex justify-content-between mb-3">
                        <form class="d-flex">                        
                            <select class="form-select border-0 me-2" aria-label="Default select example">
                                <option selected>Departments</option>
                                <option value="1">CSE</option>
                                <option value="2">EC</option>
                                <option value="3">EEE</option>
                            </select>
                            <select class="form-select border-0 me-2" aria-label="Default select example">
                                <option selected>BE</option>
                                <option value="1">B.Com</option>
                                <option value="2">BSE</option>
                            </select>
                            <select class="form-select border-0 me-2" aria-label="Default select example">
                                <option selected>Course</option>
                                <option value="1">B.Com</option>
                                <option value="2">BSE</option>
                            </select>
                            <select class="form-select border-0 me-2" aria-label="Default select example">
                                <option selected>Semester</option>
                                <option value="1">I</option>
                                <option value="2">II</option>
                                <option value="3">III</option>
                            </select>
                            <select class="form-select border-0 me-2" aria-label="Default select example">
                                <option selected>Section</option>
                                <option value="1">A</option>
                                <option value="2">B</option>
                            </select>
                        </form>
                        <p class="text-red mb-0 align-self-center">Clear Filters</p>
                    </div>
                    <div class="table-responsive course-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">Name</th>
                                    <th>Department</th>
                                    <th>Degree</th>
                                    <th>Course</th>
                                    <th>Semester</th>
                                    <th>Section</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr routerLink="/my-batch">
                                    <th >
                                        <img src="assets/images/student1.png" class="img-fluid me-3"> Wilson Kilbert
                                      </th>
                                    <td>Computer Science</td>
                                    <td>BE</td>
                                    <td>Computer Science</td>
                                    <td>Second</td>
                                    <td>A</td>                               
                                </tr>
                                <tr>
                                    <th >
                                        <img src="assets/images/student2.png" class="img-fluid me-3"> Wilson Kilbert
                                      </th>
                                    <td>Computer Science</td>
                                    <td>BE</td>
                                    <td>Computer Science</td>
                                    <td>Second</td>
                                    <td>A</td>                               
                                </tr>
                                <tr>
                                    <th >
                                        <img src="assets/images/student3.png" class="img-fluid me-3"> Wilson Kilbert
                                      </th>
                                    <td>Computer Science</td>
                                    <td>BE</td>
                                    <td>Computer Science</td>
                                    <td>Second</td>
                                    <td>A</td>                               
                                </tr>
                                <tr>
                                    <th >
                                        <img src="assets/images/student4.png" class="img-fluid me-3"> Wilson Kilbert
                                      </th>
                                    <td>Computer Science</td>
                                    <td>BE</td>
                                    <td>Computer Science</td>
                                    <td>Second</td>
                                    <td>A</td>                               
                                </tr>
                                <tr>
                                    <th >
                                        <img src="assets/images/student5.png" class="img-fluid me-3"> Wilson Kilbert
                                      </th>
                                    <td>Computer Science</td>
                                    <td>BE</td>
                                    <td>Computer Science</td>
                                    <td>Second</td>
                                    <td>A</td>                               
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">
                    <div class="table-responsive course-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Department</th>
                                    <th>Programme</th>
                                    <th>Course</th>
                                    <th>Semester</th>
                                    <th>Section</th>
                                    <th>Students</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr routerLink="/my-batch">
                                    <th>Computer Science Engg.</th>
                                    <td>BE</td>
                                    <td>Computer Science</td>
                                    <td>Second</td>
                                    <td>B</td>
                                    <td>
                                        <div class="d-flex">
                                            <img src="assets/images/users.svg" class="img-fluid me-2"> 28
                                        </div>
                                    </td>                               
                                </tr>
                                <tr>
                                    <th>Computer Science Engg.</th>
                                    <td>BE</td>
                                    <td>Computer Science</td>
                                    <td>Second</td>
                                    <td>A</td>
                                    <td>
                                        <div class="d-flex">
                                            <img src="assets/images/users.svg" class="img-fluid me-2"> 28
                                        </div>
                                    </td>                               
                                </tr>
                                <tr>
                                    <th>Computer Science Engg.</th>
                                    <td>BE</td>
                                    <td>Computer Science</td>
                                    <td>First</td>
                                    <td>A</td>
                                    <td>
                                        <div class="d-flex">
                                            <img src="assets/images/users.svg" class="img-fluid me-2"> 28
                                        </div>
                                    </td>                               
                                </tr>
                                <tr>
                                    <th>Computer Science Engg.</th>
                                    <td>BE</td>
                                    <td>Computer Science</td>
                                    <td>Second</td>
                                    <td>A</td>
                                    <td>
                                        <div class="d-flex">
                                            <img src="assets/images/users.svg" class="img-fluid me-2"> 28
                                        </div>
                                    </td>                               
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                
                <div class="tab-pane fade" id="grid" role="tabpanel" aria-labelledby="grid-tab">
                    <div class="row">
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="course-card master-card card-shadow bg-white p-4 h-100">
                                <div class="d-flex justify-content-between mb-4">
                                    <div>
                                        <h6 class="text-dark-blue fw-bold">Computer science and coding</h6>
                                        <p class="text-grey">By Aniz Hathif</p>
                                    </div>
                                   
                                </div>
                                <div class="d-flex justify-content-between student-list">
                                    <ul class="p-0 m-0">
                                        <li><span>A</span></li>
                                        <li><img src="assets/images/s1.png" class="img-fluid"></li>
                                        <li><img src="assets/images/s2.png" class="img-fluid"></li>
                                        <li class="ms-2 text-grey">+ 28</li>
                                    </ul>
                                    <div class="align-self-center">
                                        <span class="badge bg-grey text-white">1st Semester</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="course-card master-card card-shadow bg-white p-4 h-100">
                                <div class="d-flex justify-content-between mb-4">
                                    <div>
                                        <h6 class="text-dark-blue fw-bold">Computer science and coding</h6>
                                        <p class="text-grey">By Aniz Hathif</p>
                                    </div>
                                   
                                </div>
                                <div class="d-flex justify-content-between student-list">
                                    <ul class="p-0 m-0">
                                        <li><span>A</span></li>
                                        <li><img src="assets/images/s1.png" class="img-fluid"></li>
                                        <li><img src="assets/images/s2.png" class="img-fluid"></li>
                                        <li class="ms-2 text-grey">+ 28</li>
                                    </ul>
                                    <div class="align-self-center">
                                        <span class="badge bg-red text-white">2nd Semester</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="course-card master-card card-shadow bg-white p-4 h-100">
                                <div class="d-flex justify-content-between mb-4">
                                    <div>
                                        <h6 class="text-dark-blue fw-bold">Computer science and coding</h6>
                                        <p class="text-grey">By Aniz Hathif</p>
                                    </div>
                                   
                                </div>
                                <div class="d-flex justify-content-between student-list">
                                    <ul class="p-0 m-0">
                                        <li><span>A</span></li>
                                        <li><img src="assets/images/s1.png" class="img-fluid"></li>
                                        <li><img src="assets/images/s2.png" class="img-fluid"></li>
                                        <li class="ms-2 text-grey">+ 28</li>
                                    </ul>
                                    <div class="align-self-center">
                                        <span class="badge bg-red text-white">2nd Semester</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="course-card master-card card-shadow bg-white p-4 h-100">
                                <div class="d-flex justify-content-between mb-4">
                                    <div>
                                        <h6 class="text-dark-blue fw-bold">Computer science and coding</h6>
                                        <p class="text-grey">By Aniz Hathif</p>
                                    </div>
                                   
                                </div>
                                <div class="d-flex justify-content-between student-list">
                                    <ul class="p-0 m-0">
                                        <li><span>A</span></li>
                                        <li><img src="assets/images/s1.png" class="img-fluid"></li>
                                        <li><img src="assets/images/s2.png" class="img-fluid"></li>
                                        <li class="ms-2 text-grey">+ 28</li>
                                    </ul>
                                    <div class="align-self-center">
                                        <span class="badge bg-red text-white">2nd Semester</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="course-card master-card card-shadow bg-white p-4 h-100">
                                <div class="d-flex justify-content-between mb-4">
                                    <div>
                                        <h6 class="text-dark-blue fw-bold">Computer science and coding</h6>
                                        <p class="text-grey">By Aniz Hathif</p>
                                    </div>
                                   
                                </div>
                                <div class="d-flex justify-content-between student-list">
                                    <ul class="p-0 m-0">
                                        <li><span>A</span></li>
                                        <li><img src="assets/images/s1.png" class="img-fluid"></li>
                                        <li><img src="assets/images/s2.png" class="img-fluid"></li>
                                        <li class="ms-2 text-grey">+ 28</li>
                                    </ul>
                                    <div class="align-self-center">
                                        <span class="badge bg-red text-white">2nd Semester</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="course-card master-card card-shadow bg-white p-4 h-100">
                                <div class="d-flex justify-content-between mb-4">
                                    <div>
                                        <h6 class="text-dark-blue fw-bold">Computer science and coding</h6>
                                        <p class="text-grey">By Aniz Hathif</p>
                                    </div>
                                   
                                </div>
                                <div class="d-flex justify-content-between student-list">
                                    <ul class="p-0 m-0">
                                        <li><span>A</span></li>
                                        <li><img src="assets/images/s1.png" class="img-fluid"></li>
                                        <li><img src="assets/images/s2.png" class="img-fluid"></li>
                                        <li class="ms-2 text-grey">+ 28</li>
                                    </ul>
                                    <div class="align-self-center">
                                        <span class="badge bg-red text-white">2nd Semester</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>

          </div>
    </div>
</div>