<!-- <app-main-page></app-main-page> -->
<div class="wrapper-inner px-lg-5 px-3 py-4">
    <div class="page-section">
        <div class="row">
            <div class="col-md-8">
                <div class="welcome-board mb-3">
                    <h5>Welcome, Aniz.</h5>
                    <p>Heads up! Your Maanavar account is managed by Wisdom Academy</p>
                    <span>Maanavar will be unavailable for up to 30 minutes between 10:00 and 11:00 PM EST on December 14 for scheduled maintenance.</span>
                </div>
                <div class="counter">
                    <div class="row">
                        <div class="col-md-4 px-2 mb-3">
                            <div class="d-flex counter-card">
                                <div class="align-self-center me-3">
                                    <img src="assets/images/c1.svg">
                                </div>
                                <div>
                                    <p>Total Users</p>
                                    <h3>3254</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 px-2 mb-3">
                            <div class="d-flex counter-card">
                                <div class="align-self-center me-3">
                                    <img src="assets/images/c2.svg">
                                </div>
                                <div>
                                    <p>Instructors</p>
                                    <h3>64</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 px-2 mb-3">
                            <div class="d-flex counter-card">
                                <div class="align-self-center me-3">
                                    <img src="assets/images/c3.svg">
                                </div>
                                <div>
                                    <p>Students</p>
                                    <h3>3190</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 px-2 mb-3">
                            <div class="d-flex counter-card">
                                <div class="align-self-center me-3">
                                    <img src="assets/images/c4.svg">
                                </div>
                                <div>
                                    <p>Departments</p>
                                    <h3>12</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 px-2 mb-3">
                            <div class="d-flex counter-card">
                                <div class="align-self-center me-3">
                                    <img src="assets/images/c5.svg">
                                </div>
                                <div>
                                    <p>Courses</p>
                                    <h3>58</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 px-2 mb-3">
                            <div class="d-flex counter-card">
                                <div class="align-self-center me-3">
                                    <img src="assets/images/c6.svg">
                                </div>
                                <div>
                                    <p>Subjects</p>
                                    <h3>129</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card h-100">
                            <div class="card-header">
                                <div class="d-flex justify-content-between">
                                    <h5 class="align-self-center mb-0">Announcements</h5>
                                    <img src="assets/images/add-action.svg" class="img-fluid">
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="title">Today</div>
                                <div class="announcement">
                                    <h6>Examination Results Announced</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper...</p>
                                    <span>Everyone</span>
                                </div>
                                <div class="announcement">
                                    <h6>Academic Performance - Nov/Dec 2021</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper...</p>
                                    <span>Everyone</span>
                                </div>
                                <div class="announcement">
                                    <h6>Title of announcement</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper...</p>
                                    <span>Everyone</span>
                                </div>
                                <div class="announcement">
                                    <h6>Academic Performance - Nov/Dec 2021</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper...</p>
                                    <span>Everyone</span>
                                </div>
                                <div class="announcement">
                                    <h6>Title of announcement</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper...</p>
                                    <span>Everyone</span>
                                </div>
                                <div class="announcement">
                                    <h6>Academic Performance - Nov/Dec 2021</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper...</p>
                                    <span>Everyone</span>
                                </div>
                                <div class="announcement">
                                    <h6>Title of announcement</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper...</p>
                                    <span>Everyone</span>
                                </div>
                                <div class="announcement">
                                    <h6>Academic Performance - Nov/Dec 2021</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper...</p>
                                    <span>Everyone</span>
                                </div>
                                <div class="announcement">
                                    <h6>Title of announcement</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper...</p>
                                    <span>Everyone</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card h-100">
                            <div class="card-header">
                                <!-- <div class="d-flex justify-content-between">
                                    <h5 class="align-self-center mb-0">Announcements</h5>
                                    <img src="assets/images/add-action.svg" class="img-fluid">
                                </div> -->
                            </div>
                            <div class="card-body">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex justify-content-between mb-2"><h6 class="fw-bold text-dark-blue">Current Plan</h6><a   href="" class=" text-red text-decoration-none"> View History <img src="assets/images/red-right-arrow.svg" class="ms-2"></a></div>
                <div class="subscription-info ">                    
                    <div class="d-flex">
                        <div class="price col-md-2">
                          <h2>$</h2>
                        </div>
                        <div>
                          <h4 class="text-dark-blue fw-bold">Advanced Plan</h4>
                          <p>Advanced maanavar features for larger institution with unlimited users</p>
                          <div>
                            <span>Auto-renwing on </span>
                            <h4>31 Dec, 2021</h4>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>