
<div class="auth-page">
    <img src="../../../../../assets/images/shape.svg" alt="" class="shape">
    <!-- <img src="../../../../../assets/images/Union.svg" alt="" class="shape tabshape"> -->
    <section class="navbars">
      <div class="containers">
        <div class="row align-items-center">
          <div class="col-md-6 col">
            <div class="mainlogo" routerLink="/login">
              <img src="../../../../../assets/images/Logo.svg" alt="">
            </div>
          </div>
          <div class="col-md-6 col">
            <div class="rightside">
             <a href="#" class="notmember">Already have an account?</a>
             <a routerLink="/login" class="registerbtn">Login Here</a>
            </div>
          </div>
        </div>
   
        
      </div>
    </section>
    <div class="fxt-content">
      <div class="row">
        <div class="col-md-12">
          <div class="loginwrapper">
            <img src="../../../../../assets/images/email.svg" alt="">
            <h3>Verify your email address</h3>
            
              <div class="fxt-form">
               
               <p class="useremail">anizhathif@gmail.com</p>
               <p class="emaildesc">Almost there! We’ve sent a activation link to your email. Verify and get started with Maanavar</p>
               <div class="fxt-footer">
                <p>Didn’t get email? <a routerLink="/forgotpassword"> Send it again</a> </p>
                
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyrights">
      <p>All Rights Reserved © 2024 Maanavar</p>
    </div>
  </div>
  