<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="announcementWrapper">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <img src="assets/images/home.svg" alt="Logo">
                  </li>
                  <li class="breadcrumb-item">
                    <a href="">Announcements</a>
                  </li>
                </ul>
                <h3 class="text-dark-blue">Announcements</h3>
                <div class="announcementtabs">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">For you</a>
                        </li>
                        <li class="nav-item" role="presentation">
                          <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Published</a>
                        </li>
                        <li class="nav-item" role="presentation">
                          <a class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Scheduled</a>
                        </li>
                      </ul>
                      <div class="filters">
                          <a (click)="togglefilter()"><img src="assets/images/filter_list.svg" alt="Logo"> Filters</a>
                          <a data-bs-toggle="modal" data-bs-target="#announcementModal" class="btn-primary"><img src="assets/images/add.svg" alt="Logo">New Announcement </a>
                      </div>
                      <div class="modal fade announcementModal" id="announcementModal" tabindex="-1" aria-labelledby="announcementModal" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="announcementModal">Create Announcements</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <div class="announcementModalWrap pt-0">
                                <div class="form-group">
                                  <input name="text" type="text" class="form-control textbox"  placeholder="Type" aria-label="Email Address">     
                                </div>
                                <div class="form-group">
                                  <label for="first_field" class="form-label">Description</label>
                                  <textarea name="" id=""  class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                  <label for="first_field" class="form-label">Assign to</label>
                                  <div class="ng-autocomplete">
                                    <img src="assets/images/down.svg" alt="" class="droparrow">
                                    <ng-autocomplete 
                                      [data]="countries"
                                      [searchKeyword]="keyword"
                                      (selected)='selectEvent($event)'
                                      (inputChanged)='onChangeSearch($event)'
                                      (inputFocused)='onFocused($event)'
                                      [itemTemplate]="itemTemplate"
                                      [notFoundTemplate]="notFoundTemplate"
                                      placeholder="Select">                                 
                                    </ng-autocomplete>
                                    
                                    <ng-template #itemTemplate let-item>
                                    <a [innerHTML]="item.name"></a>
                                   
                                    
                                    </ng-template>
                                    
                                    <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                    </ng-template>
                                  </div>
                               
                                  <div class="announcementdept">
                                    <span>
                                      <h3>BE - Computer Science</h3>
                                      <p>Dept. Computer Science Engg.</p>
                                    </span>
                                    <span class="dept-tag">Sem II - A</span>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="first_field" class="form-label">Cover image </label>
                                  <div class="dropzone">
                                    <div class="text-wrapper">
                                      <div class="centered">
                                        <input type="file" name="file" id="file">
                                        <img src="assets/images/imgfile.svg" alt="Logo">
                                        <label for="file">Drop your image here, <span class="textLink">or browse</span> </label>
                                        <p>Support:  Jpg, Jpeg, Png</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="first_field" class="form-label">Documents </label>
                                  <div class="dropzone">
                                    <div class="text-wrapper">
                                      <div class="centered">
                                        <input type="file" name="file" id="file">
                                        <img src="assets/images/fileup.svg" alt="Logo">
                                        <label for="file">Drop your file here, <span class="textLink">or browse</span> </label>
                                        <p>Support: Doc, Pdf, Jpg, Png</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="announcementModalWrap popupbor">
                                <div class="form-group">
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <span class="form-check-label">
                                     Schedule for later
                                    </span>
                                  </div>
                                </div>
                                
                                <div class="form-group">
                                  <label for="first_field" class="form-label">Date</label>
                                  <div class="select-flex">
                                    <div class="ng-autocomplete">
                                      <img src="assets/images/down.svg" alt="" class="droparrow">
                                        <ng-autocomplete 
                                          [data]="date"
                                          [searchKeyword]="keyword"
                                          (selected)='selectEvent($event)'
                                          (inputChanged)='onChangeSearch($event)'
                                          (inputFocused)='onFocused($event)'
                                          [itemTemplate]="itemTemplate"
                                          [notFoundTemplate]="notFoundTemplate"
                                          placeholder="31">                                 
                                        </ng-autocomplete>
                                        
                                        <ng-template #itemTemplate let-item>
                                        <a [innerHTML]="item.name"></a>
                                       
                                        
                                        </ng-template>
                                        
                                        <ng-template #notFoundTemplate let-notFound>
                                        <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                    <div class="ng-autocomplete">
                                      <img src="assets/images/down.svg" alt="" class="droparrow">
                                        <ng-autocomplete 
                                          [data]="month"
                                          [searchKeyword]="keyword"
                                          (selected)='selectEvent($event)'
                                          (inputChanged)='onChangeSearch($event)'
                                          (inputFocused)='onFocused($event)'
                                          [itemTemplate]="itemTemplate"
                                          [notFoundTemplate]="notFoundTemplate"
                                          placeholder="November">                                 
                                        </ng-autocomplete>
                                        
                                        <ng-template #itemTemplate let-item>
                                        <a [innerHTML]="item.name"></a>
                                       
                                        
                                        </ng-template>
                                        
                                        <ng-template #notFoundTemplate let-notFound>
                                        <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                    <div class="ng-autocomplete">
                                      <img src="assets/images/down.svg" alt="" class="droparrow">
                                        <ng-autocomplete 
                                          [data]="year"
                                          [searchKeyword]="keyword"
                                          (selected)='selectEvent($event)'
                                          (inputChanged)='onChangeSearch($event)'
                                          (inputFocused)='onFocused($event)'
                                          [itemTemplate]="itemTemplate"
                                          [notFoundTemplate]="notFoundTemplate"
                                          placeholder="2021">                                 
                                        </ng-autocomplete>
                                        
                                        <ng-template #itemTemplate let-item>
                                        <a [innerHTML]="item.name"></a>
                                       
                                        
                                        </ng-template>
                                        
                                        <ng-template #notFoundTemplate let-notFound>
                                        <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                </div>  
                                    
                                </div>
                                <div class="form-group">
                                  <label for="first_field" class="form-label">Time</label>
                                  <div class="timepick">
                                    <input type="text" value="19:00" class="form-control" (click)="open($event)"/>
                                    <img src="assets/images/clock.svg" alt="Logo">
                                  </div>
                                
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Cancel</button>
                              <button type="button" class="btn btn-primary">Create</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
               <div class="filter-list" [class.filtertoggleclass]="filterToggled">
                <div class="filterflex">
                  <div class="d-flex">
                      <div class="ng-autocomplete">
                          <ng-autocomplete 
                            [data]="countries"
                            [searchKeyword]="keyword"
                            (selected)='selectEvent($event)'
                            (inputChanged)='onChangeSearch($event)'
                            (inputFocused)='onFocused($event)'
                            [itemTemplate]="itemTemplate"
                            [notFoundTemplate]="notFoundTemplate"
                            placeholder="Department">                                 
                          </ng-autocomplete>
                          
                          <ng-template #itemTemplate let-item>
                          <a [innerHTML]="item.name"></a>
                         
                          
                          </ng-template>
                          
                          <ng-template #notFoundTemplate let-notFound>
                          <div [innerHTML]="notFound"></div>
                          </ng-template>
                      </div>
                      <div class="ng-autocomplete">
                          <ng-autocomplete 
                            [data]="countries"
                            [searchKeyword]="keyword"
                            (selected)='selectEvent($event)'
                            (inputChanged)='onChangeSearch($event)'
                            (inputFocused)='onFocused($event)'
                            [itemTemplate]="itemTemplate"
                            [notFoundTemplate]="notFoundTemplate"
                            placeholder="BE">                                 
                          </ng-autocomplete>
                          
                          <ng-template #itemTemplate let-item>
                          <a [innerHTML]="item.name"></a>
                         
                          
                          </ng-template>
                          
                          <ng-template #notFoundTemplate let-notFound>
                          <div [innerHTML]="notFound"></div>
                          </ng-template>
                      </div>
                     </div>
                     <span class="clearfilter">
                      Clear Filters
                     </span>
                 </div>
               </div>
                  <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                      <div class="announcement-list">
                        <ul class="announcement-tiles">
                          <li>
                            <span class="announcementtags text-grey">Today</span>
                            <div class="announcement-cards cards common-box-shadow bg-white border-radius" routerLink="/announcement-detail">
                             <div class="d-flex justify-content-between mb">
                               <span>
                                <i class="fa fa-circle text-blue" aria-hidden="true"></i>
                                <span class="text-dark-blue announcementnametag">Dean</span>
                               </span>
                             
                              <span class="announcementime text-grey">04:30 PM</span>
                             </div>
                           
                                <h4 class="common-titletwo">Instructor HOD Meeting</h4>
                                <p class="text-dark-blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper non urna id molestie. Ut ac urna id lacus porttitor imperdiet. Phasellus sed nisi enim. Fusce vel dignissim diam, a pretium turpis. Nulla varius finibus neque, ac volutpat turpis rutrum eget. Praesent eu metus dignissim, elementum ante eu, euismod magna. Nunc blandit risus non tortor gravida varius. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed in lacinia magna, vitae dapibus lectus. Sed odio nunc, ornare ac dui at, auctor dignissim libero. Nunc lobortis scelerisque augue eget tincidunt. </p>
                                  
                            </div>
                          </li>
                          <li>
                      
                            <div class="announcement-cards cards common-box-shadow bg-white border-radius">
                             <div class="d-flex justify-content-between mb">
                               <span>
                                <i class="fa fa-circle text-blue" aria-hidden="true"></i>
                                <span class="text-dark-blue announcementnametag">Dean</span>
                               </span>
                             
                              <span class="announcementime text-grey">04:30 PM</span>
                             </div>
                           
                                <h4 class="common-titletwo">Exam duty for Computer Science Department staffs</h4>
                                <p class="text-dark-blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper non urna id molestie. Ut ac urna id la </p>
                                  
                            </div>
                          </li>
                        </ul>
                        <ul class="announcement-tiles">
                          <li>
                            <span class="announcementtags text-grey">Yesterday</span>
                            <div class="announcement-cards cards common-box-shadow bg-white border-radius">
                             <div class="d-flex justify-content-between mb">
                               <span>
                                <i class="fa fa-circle text-blue" aria-hidden="true"></i>
                                <span class="text-dark-blue announcementnametag">Dean</span>
                               </span>
                             
                              <span class="announcementime text-grey">04:30 PM</span>
                             </div>
                           
                                <h4 class="common-titletwo">Instructor HOD Meeting</h4>
                                <p class="text-dark-blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper non urna id molestie. Ut ac urna id lacus porttitor imperdiet. Phasellus sed nisi enim. Fusce vel dignissim diam, a pretium turpis. Nulla varius finibus neque, ac volutpat turpis rutrum eget. Praesent eu metus dignissim, elementum ante eu, euismod magna. Nunc blandit risus non tortor gravida varius. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed in lacinia magna, vitae dapibus lectus. Sed odio nunc, ornare ac dui at, auctor dignissim libero. Nunc lobortis scelerisque augue eget tincidunt. </p>
                                  
                            </div>
                          </li>
                          <li>
                      
                            <div class="announcement-cards cards common-box-shadow bg-white border-radius">
                             <div class="d-flex justify-content-between mb">
                               <span>
                                <i class="fa fa-circle text-blue" aria-hidden="true"></i>
                                <span class="text-dark-blue announcementnametag">Dean</span>
                               </span>
                             
                              <span class="announcementime text-grey">04:30 PM</span>
                             </div>
                           
                                <h4 class="common-titletwo">Exam duty for Computer Science Department staffs</h4>
                                <p class="text-dark-blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper non urna id molestie. Ut ac urna id la </p>
                                  
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                      <div class="announcement-list">
                        <ul class="announcement-tiles">
                          <li>
                            <span class="announcementtags text-grey">Today</span>
                            <div class="announcement-cards cards common-box-shadow bg-white border-radius">
                             <div class="d-flex justify-content-between mb">
                               <span>
                                <i class="fa fa-circle text-blue" aria-hidden="true"></i>
                                <span class="text-dark-blue announcementnametag">CSE  - 2nd Sem - B</span>
                               </span>
                             
                              <span class="announcementime text-grey">04:30 PM</span>
                             </div>
                           
                                <h4 class="common-titletwo">Seminar on Sorting Algorithms</h4>
                                <p class="text-dark-blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper non urna id molestie. Ut ac urna id lacus porttitor imperdiet. Phasellus sed nisi enim. Fusce vel dignissim diam, a pretium turpis. Nulla varius finibus neque, ac volutpat turpis rutrum eget. Praesent eu metus dignissim, elementum ante eu, euismod magna. Nunc blandit risus non tortor gravida varius. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed in lacinia magna, vitae dapibus lectus. Sed odio nunc, ornare ac dui at, auctor dignissim libero. Nunc lobortis scelerisque augue eget tincidunt. </p>
                                <div class="announcemengridimg announcemengridimgsec">
                                  <div>
                                    <img src="https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832__480.jpg" alt="">
                                  </div>
                                  <div>
                                    <img src="https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832__480.jpg" alt="">
                                  </div>
                                  <div>
                                    <img src="https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832__480.jpg" alt="">
                                  </div>
                                  <div class="moregrid">
                                    <a href="">6 more</a>
                                  </div>
                                </div>
                            </div>
                          </li>
                          <li>
                      
                            <div class="announcement-cards cards common-box-shadow bg-white border-radius">
                             <div class="d-flex justify-content-between mb">
                               <span>
                                <i class="fa fa-circle text-blue" aria-hidden="true"></i>
                                <span class="text-dark-blue announcementnametag">CSE  - 2nd Sem - B</span>
                               </span>
                             
                              <span class="announcementime text-grey">04:30 PM</span>
                             </div>
                           
                                <h4 class="common-titletwo">Exam duty for Computer Science Department staffs</h4>
                                <p class="text-dark-blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper non urna id molestie. Ut ac urna id la </p>
                                  
                            </div>
                          </li>
                        </ul>
                        <ul class="announcement-tiles">
                          <li>
                            <span class="announcementtags text-grey">Yesterday</span>
                            <div class="announcement-cards cards common-box-shadow bg-white border-radius">
                             <div class="d-flex justify-content-between mb">
                               <span>
                                <i class="fa fa-circle text-blue" aria-hidden="true"></i>
                                <span class="text-dark-blue announcementnametag">CSE  - 2nd Sem - B</span>
                               </span>
                             
                              <span class="announcementime text-grey">04:30 PM</span>
                             </div>
                           
                                <h4 class="common-titletwo">Instructor HOD Meeting</h4>
                                <p class="text-dark-blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper non urna id molestie. Ut ac urna id lacus porttitor imperdiet. Phasellus sed nisi enim. Fusce vel dignissim diam, a pretium turpis. Nulla varius finibus neque, ac volutpat turpis rutrum eget. Praesent eu metus dignissim, elementum ante eu, euismod magna. Nunc blandit risus non tortor gravida varius. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed in lacinia magna, vitae dapibus lectus. Sed odio nunc, ornare ac dui at, auctor dignissim libero. Nunc lobortis scelerisque augue eget tincidunt. </p>
                                  
                            </div>
                          </li>
                          <li>
                      
                            <div class="announcement-cards cards common-box-shadow bg-white border-radius">
                             <div class="d-flex justify-content-between mb">
                               <span>
                                <i class="fa fa-circle text-blue" aria-hidden="true"></i>
                                <span class="text-dark-blue announcementnametag">CSE  - 2nd Sem - B</span>
                               </span>
                             
                              <span class="announcementime text-grey">04:30 PM</span>
                             </div>
                           
                                <h4 class="common-titletwo">Exam duty for Computer Science Department staffs</h4>
                                <p class="text-dark-blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper non urna id molestie. Ut ac urna id la </p>
                                  
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                      <div class="announcement-list">
                        <ul class="announcement-tiles">
                          <li>
                            <span class="announcementtags text-grey">Today</span>
                            <div class="announcement-cards cards common-box-shadow bg-white border-radius">
                             <div class="d-flex justify-content-between mb">
                               <span>
                                <i class="fa fa-circle text-blue" aria-hidden="true"></i>
                                <span class="text-dark-blue announcementnametag">CSE  - 2nd Sem - B</span>
                               </span>
                             
                              <span class="announcementime text-grey">04:30 PM</span>
                             </div>
                           
                                <h4 class="common-titletwo">Seminar on Sorting Algorithms</h4>
                                <p class="text-dark-blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper non urna id molestie. Ut ac urna id lacus porttitor imperdiet. Phasellus sed nisi enim. Fusce vel dignissim diam, a pretium turpis. Nulla varius finibus neque, ac volutpat turpis rutrum eget. Praesent eu metus dignissim, elementum ante eu, euismod magna. Nunc blandit risus non tortor gravida varius. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed in lacinia magna, vitae dapibus lectus. Sed odio nunc, ornare ac dui at, auctor dignissim libero. Nunc lobortis scelerisque augue eget tincidunt. </p>
                                <div class="announcemengridimg justify-content-end">
                                  <ul class="announcementschedule announcemengridimg">
                                    <li class="text-grey">Scheduled for:</li>
                                    <li>
                                      <img src="assets/images/calendar.svg" alt="">
                                      <span class="text-dark-blue">29 Nov 2021</span>
                                    </li>
                                    <li>
                                      <img src="assets/images/time.svg" alt="">
                                      <span class="text-dark-blue">12:30 AM </span>
                                    </li>
                                  </ul>
                                 
                                </div>
                            </div>
                          </li>
                          <li>
                      
                            <div class="announcement-cards cards common-box-shadow bg-white border-radius">
                             <div class="d-flex justify-content-between mb">
                               <span>
                                <i class="fa fa-circle text-blue" aria-hidden="true"></i>
                                <span class="text-dark-blue announcementnametag">CSE  - 2nd Sem - B</span>
                               </span>
                             
                              <span class="announcementime text-grey">04:30 PM</span>
                             </div>
                           
                                <h4 class="common-titletwo">Exam duty for Computer Science Department staffs</h4>
                                <p class="text-dark-blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper non urna id molestie. Ut ac urna id la </p>
                                <div class="announcemengridimg justify-content-end">
                                  <ul class="announcementschedule announcemengridimg">
                                    <li class="text-grey">Scheduled for:</li>
                                    <li>
                                      <img src="assets/images/calendar.svg" alt="">
                                      <span class="text-dark-blue">29 Nov 2021</span>
                                    </li>
                                    <li>
                                      <img src="assets/images/time.svg" alt="">
                                      <span class="text-dark-blue">12:30 AM </span>
                                    </li>
                                  </ul>
                                 
                                </div>
                            </div>
                          </li>
                        </ul>
                        <ul class="announcement-tiles">
                          <li>
                            <span class="announcementtags text-grey">Yesterday</span>
                            <div class="announcement-cards cards common-box-shadow bg-white border-radius">
                             <div class="d-flex justify-content-between mb">
                               <span>
                                <i class="fa fa-circle text-blue" aria-hidden="true"></i>
                                <span class="text-dark-blue announcementnametag">CSE  - 2nd Sem - B</span>
                               </span>
                             
                              <span class="announcementime text-grey">04:30 PM</span>
                             </div>
                           
                                <h4 class="common-titletwo">Instructor HOD Meeting</h4>
                                <p class="text-dark-blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper non urna id molestie. Ut ac urna id lacus porttitor imperdiet. Phasellus sed nisi enim. Fusce vel dignissim diam, a pretium turpis. Nulla varius finibus neque, ac volutpat turpis rutrum eget. Praesent eu metus dignissim, elementum ante eu, euismod magna. Nunc blandit risus non tortor gravida varius. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed in lacinia magna, vitae dapibus lectus. Sed odio nunc, ornare ac dui at, auctor dignissim libero. Nunc lobortis scelerisque augue eget tincidunt. </p>
                                <div class="announcemengridimg justify-content-end">
                                  <ul class="announcementschedule announcemengridimg">
                                    <li class="text-grey">Scheduled for:</li>
                                    <li>
                                      <img src="assets/images/calendar.svg" alt="">
                                      <span class="text-dark-blue">29 Nov 2021</span>
                                    </li>
                                    <li>
                                      <img src="assets/images/time.svg" alt="">
                                      <span class="text-dark-blue">12:30 AM </span>
                                    </li>
                                  </ul>
                                 
                                </div>
                            </div>
                          </li>
                          <li>
                      
                            <div class="announcement-cards cards common-box-shadow bg-white border-radius">
                             <div class="d-flex justify-content-between mb">
                               <span>
                                <i class="fa fa-circle text-blue" aria-hidden="true"></i>
                                <span class="text-dark-blue announcementnametag">CSE  - 2nd Sem - B</span>
                               </span>
                             
                              <span class="announcementime text-grey">04:30 PM</span>
                             </div>
                           
                                <h4 class="common-titletwo">Exam duty for Computer Science Department staffs</h4>
                                <p class="text-dark-blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper non urna id molestie. Ut ac urna id la </p>
                                <div class="announcemengridimg justify-content-end">
                                  <ul class="announcementschedule announcemengridimg">
                                    <li class="text-grey">Scheduled for:</li>
                                    <li>
                                      <img src="assets/images/calendar.svg" alt="">
                                      <span class="text-dark-blue">29 Nov 2021</span>
                                    </li>
                                    <li>
                                      <img src="assets/images/time.svg" alt="">
                                      <span class="text-dark-blue">12:30 AM </span>
                                    </li>
                                  </ul>
                                 
                                </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
   
    
</div>

