



    <div class="main-content">
        <div class="row">
            <div class="col-md-9">
                <div class="classList">
                    <div class="classtitle">
                        <h4 class="text-dark-blue">Today’s Classes</h4>
                        <span class="text-grey">See All</span>
                    </div>
                    <swiper  [loop]="false" [breakpoints]="breakpoints"  [spaceBetween]="15" [autoHeight]="true" [allowTouchMove]="false"
                    [autoplay]="false" [pagination]="false" [navigation]="{ prevEl: '.swiper-navigation-prev', nextEl: '.swiper-navigation-next' }" class="swiper" (swiper)="setControlledSwiper($event)" [scrollbar]="{ draggable: true }">
                    <ng-template data-swiper-autoplay="6000" swiperSlide *ngFor="let details of todayclass">
                        <div class="class-list-wrapper">
                            <h3 class="cl-title text-dark-blue">{{details.title}}</h3>
                            <p class="cl-group text-grey">{{details.section}}</p>
                            <div class="cl-time">
                                <p class="text-dark-blue"><span>  <img src="assets/images/calendar.svg" alt="Logo"> {{details.date}}</span></p>
                                <p class="text-dark-blue"><span><img src="assets/images/time.svg" alt="Logo">{{details.time}}</span></p>
                            </div>
                            <div class="cl-start">
                                <p class="text-red"><img src="assets/images/play.svg" alt="Logo"> Start class</p>
                                <span><img src="assets/images/file.svg" alt="Logo"> </span>
                            </div>
                        </div>
                    </ng-template>
                    <!-- <ng-template data-swiper-autoplay="6000" swiperSlide>
                        <div class="class-list-wrapper">
                            <h3 class="cl-title text-dark-blue">Artificial Intelligence</h3>
                            <p class="cl-group text-grey">BE - CSE  - 2nd Sem - A</p>
                            <div class="cl-time">
                                <p class="text-dark-blue"><span>  <img src="assets/images/calendar.svg" alt="Logo"> 26 Oct 2021</span></p>
                                <p class="text-dark-blue"><span><img src="assets/images/time.svg" alt="Logo">10:30 AM - 11:30 AM</span></p>
                            </div>
                            <div class="cl-start">
                                <p class="text-red"><img src="assets/images/play.svg" alt="Logo"> Start class</p>
                                <span><img src="assets/images/file.svg" alt="Logo"> </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template data-swiper-autoplay="6000" swiperSlide>
                        <div class="class-list-wrapper">
                            <h3 class="cl-title text-dark-blue">Artificial Intelligence</h3>
                            <p class="cl-group text-grey">BE - CSE  - 2nd Sem - A</p>
                            <div class="cl-time">
                                <p class="text-dark-blue"><span>  <img src="assets/images/calendar.svg" alt="Logo"> 26 Oct 2021</span></p>
                                <p class="text-dark-blue"><span><img src="assets/images/time.svg" alt="Logo">10:30 AM - 11:30 AM</span></p>
                            </div>
                            <div class="cl-start">
                                <p class="text-red"><img src="assets/images/play.svg" alt="Logo"> Start class</p>
                                <span><img src="assets/images/file.svg" alt="Logo"> </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template data-swiper-autoplay="6000" swiperSlide>
                        <div class="class-list-wrapper">
                            <h3 class="cl-title text-dark-blue">Artificial Intelligence</h3>
                            <p class="cl-group text-grey">BE - CSE  - 2nd Sem - A</p>
                            <div class="cl-time">
                                <p class="text-dark-blue"><span>  <img src="assets/images/calendar.svg" alt="Logo"> 26 Oct 2021</span></p>
                                <p class="text-dark-blue"><span><img src="assets/images/time.svg" alt="Logo">10:30 AM - 11:30 AM</span></p>
                            </div>
                            <div class="cl-start">
                                <p class="text-red"><img src="assets/images/play.svg" alt="Logo"> Start class</p>
                                <span><img src="assets/images/file.svg" alt="Logo"> </span>
                            </div>
                        </div>
                    </ng-template> -->
                  </swiper>
                 <div *ngIf="todayclass.length > 3" class="slidearrow">
                    <button type="button" class="swiper-navigation-prev text-dark-blue"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                    <button type="button" class="swiper-navigation-next text-dark-blue"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                 </div>
               
                </div>
            </div>
            <div class="col-md-3">
                <div class="cards common-box-shadow bg-white border-radius">
                    <div class="announcementcard">
                        <h4 class="common-title text-dark-blue">Announcements</h4>
                    </div>
                    <ul class="announcement-wrapper">
                        <li>
                            <div class="announcementlist">
                                <span class="announcementtags text-grey">Today</span>
                                <h4 class="common-titletwo">Instructor HOD Meeting</h4>
                                <p class="text-grey">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Integer ullamcorper...</p>
                                    <span class="text-dark-blue"><i class="fa fa-circle text-blue" aria-hidden="true"></i>Dean</span>
                            </div>
                        </li>
                        <li>
                            <div class="announcementlist">
                                
                                <h4 class="common-titletwo">Results Announcement</h4>
                                <p class="text-grey">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Integer ullamcorper...</p>
                                    <span class="text-dark-blue"><i class="fa fa-circle text-blue" aria-hidden="true"></i>Aravind Raj</span>
                            </div>
                        </li>
                        <li>
                            <div class="announcementlist">
                                <span class="announcementtags text-grey">Yesterday</span>
                                <h4 class="common-titletwo">Apr/May Exam Schedul.</h4>
                                <p class="text-grey">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Integer ullamcorper...</p>
                                    <span class="text-dark-blue"><i class="fa fa-circle text-blue" aria-hidden="true"></i>Deepan Surya</span>
                            </div>
                        </li>
                         <li>
                            <div class="announcementlist">
                                
                                <h4 class="common-titletwo">Results Announcement</h4>
                                <p class="text-grey">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Integer ullamcorper...</p>
                                    <span class="text-dark-blue"><i class="fa fa-circle text-blue" aria-hidden="true"></i>Aravind Raj</span>
                            </div>
                        </li>
                        <li>
                            <div class="announcementlist">
                                <span class="announcementtags text-grey">Yesterday</span>
                                <h4 class="common-titletwo">Apr/May Exam Schedul.</h4>
                                <p class="text-grey">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Integer ullamcorper...</p>
                                    <span class="text-dark-blue"><i class="fa fa-circle text-blue" aria-hidden="true"></i>Deepan Surya</span>
                            </div>
                        </li>
                    </ul>
                    <div class="announcementcard">
                        
                        <a routerLink="/announcements" class="text-red">
                            View all
                            <img src="assets/images/arrow_forward.svg" alt="Logo"> 
                        </a>
                    </div>
                </div>
                <div class="cards common-box-shadow bg-white border-radius">
                    <div class="announcementcard">
                        <h4 class="common-title text-dark-blue">Tasks</h4>
                    </div>
                    <ul class="announcement-wrapper">
                        <li>
                            <div class="announcementlist">
                               
                                <h4 class="common-titletwo">K-Means Algorithm</h4>
                                <p class="text-grey">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Integer ullamcorper...</p>
                                    <div class="remainingdays">
                                        <span class="text-dark-blue"><i class="fa fa-circle text-blue" aria-hidden="true"></i>BE - CSE  - 2nd Sem - B</span>
                                        <span class="text-dark-blue">Remaining days: 04 </span>
                                    </div>
                                
                            </div>
                        </li>
                        <li>
                            <div class="announcementlist">
                               
                                <h4 class="common-titletwo">K-Means Algorithm</h4>
                                <p class="text-grey">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Integer ullamcorper...</p>
                                    <div class="remainingdays">
                                        <span class="text-dark-blue"><i class="fa fa-circle text-blue" aria-hidden="true"></i>BE - CSE  - 2nd Sem - B</span>
                                        <span class="text-dark-blue">Remaining days: 04 </span>
                                    </div>
                                
                            </div>
                        </li>
                        <li>
                            <div class="announcementlist">
                               
                                <h4 class="common-titletwo">K-Means Algorithm</h4>
                                <p class="text-grey">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Integer ullamcorper...</p>
                                    <div class="remainingdays">
                                        <span class="text-dark-blue"><i class="fa fa-circle text-blue" aria-hidden="true"></i>BE - CSE  - 2nd Sem - B</span>
                                        <span class="text-dark-blue">Remaining days: 04 </span>
                                    </div>
                                
                            </div>
                        </li>
                        <li>
                            <div class="announcementlist">
                               
                                <h4 class="common-titletwo">K-Means Algorithm</h4>
                                <p class="text-grey">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Integer ullamcorper...</p>
                                    <div class="remainingdays">
                                        <span class="text-dark-blue"><i class="fa fa-circle text-blue" aria-hidden="true"></i>BE - CSE  - 2nd Sem - B</span>
                                        <span class="text-dark-blue">Remaining days: 04 </span>
                                    </div>
                                
                            </div>
                        </li>
                        <li>
                            <div class="announcementlist">
                               
                                <h4 class="common-titletwo">K-Means Algorithm</h4>
                                <p class="text-grey">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Integer ullamcorper...</p>
                                    <div class="remainingdays">
                                        <span class="text-dark-blue"><i class="fa fa-circle text-blue" aria-hidden="true"></i>BE - CSE  - 2nd Sem - B</span>
                                        <span class="text-dark-blue">Remaining days: 04 </span>
                                    </div>
                                
                            </div>
                        </li>
                        <li>
                            <div class="announcementlist">
                               
                                <h4 class="common-titletwo">K-Means Algorithm</h4>
                                <p class="text-grey">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Integer ullamcorper...</p>
                                    <div class="remainingdays">
                                        <span class="text-dark-blue"><i class="fa fa-circle text-blue" aria-hidden="true"></i>BE - CSE  - 2nd Sem - B</span>
                                        <span class="text-dark-blue">Remaining days: 04 </span>
                                    </div>
                                
                            </div>
                        </li>
                        
                    </ul>
                    <div class="announcementcard">
                        
                        <a routerLink="/task" class="text-red">View all  <img src="assets/images/arrow_forward.svg" alt="Logo"> </a>
                    </div>
                </div>
            </div>
        </div>
      
    </div>

  