<nav aria-label="Page navigation example" class="d-flex justify-content-end">
    <ul class="pagination justify-content-end mb-0">
      <li class="page-item disabled border">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><img src="assets/images/left-arrow-icon.svg"></a>
      </li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">...</a></li>
      <li class="page-item"><a class="page-link" href="#">23</a></li>
      <li class="page-item"><a class="page-link" href="#">24</a></li>
      <li class="page-item border">
        <a class="page-link" href="#"><img src="assets/images/right-arrow-icon.svg"></a>
      </li>
    </ul>
    <form class="align-self-center ms-1">
        <select class="form-select post-select bg-white  h-auto" aria-label="Default select ">
            <option>10 / Page</option>
            <option>20 / Page</option>
            <option>50 / Page</option>
        </select>
    </form>
  </nav>