
.navbars{
    padding-top: 15px;
    position: fixed;
    width: 100%;
    .rightside{
        text-align: right;
        a{
            &.registerbtn{
                background: #FF8364;
                padding: 0.47rem 0.75rem;
                color: #fff;
                border-radius: 5px;
                margin-left: 18px;
            }
           
        }
    }
}
.auth-page{
    background: #3E4D97;
    height: 100vh;
    img.shape{
        position: absolute;
        width: 100%;
        top: -10px;
    }
}
.fxt-content{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .loginwrapper{
        position: relative;
        width: 450px;
        text-align: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 50px;    
    h3{
        font-weight: 700;
        color: #202020;
        font-size: 24px;
        margin: 20px 0 10px 0;
    }
    p{
        color: #383F5B;
        font-size: 14px;
        width: 85%;
        margin: 0 auto;
    }
    .fxt-form{
        margin-top: 34px;
        .form-group{
            margin-bottom: 15px;
            text-align: left;
            label{
                color: #868997;
                margin-bottom: 8px;
               
                font-size: 14px;
            }
            .form-control{
                min-height: 45px;
                box-shadow: none;
                border: 1px solid #e7e7e7;
                padding: 10px 15px;
                color: #111111;
                background-color: #ffffff;
                font-size: 14px;
            }
            .togglepass{
                position: relative;
                i{
                    position: absolute;
                    z-index: 1;
                    right: 4px;
                    bottom: 15px;
                    padding: 0 5px;
                    color: #c5c5c5;
                    font-size: 14px;
                    cursor: pointer;
                }
                img{
                    position: absolute;
                    z-index: 1;
                    right: 4px;
                    bottom: 15px;
                    padding: 0 5px;
                    color: #c5c5c5;
                   
                    cursor: pointer;
                }
            }
            }
            button.loginbtn {
                width: 100%;
                background:#f76540;
                display: flex;
                min-height: 45px;
                font-size: 15px;
                align-items: center;
                justify-content: center;
                color: #fff;
                margin-top: 15px;
            }
            .fxt-footer{
                margin-top: 15px;
               
                p{
                    color: #868997;
                   
                }
                a{
                   
                    color: #3E4D97;
                }
            }
        }
    }
    }
