<div class="auth-page">
    <img src="../../../../../assets/images/shape.svg" alt="" class="shape">
    <!-- <img src="../../../../../assets/images/Union.svg" alt="" class="shape tabshape"> -->
    <section class="navbars">
      <div class="containers">
        <div class="row align-items-center">
          <div class="col-md-6 col">
            <div class="mainlogo">
              <img src="../../../../../assets/images/Logo.svg" alt="">
            </div>
          </div>
          <div class="col-md-6 col">
            <div class="rightside">
             <a href="#" class="notmember">Not a member?</a>
             <a routerLink="/login" class="registerbtn">Register Now</a>
            </div>
          </div>
        </div>

      </div>


    
  </section>
 
    <div class="fxt-content">
      <div class="row">
        <div class="col-md-12">
          <div class="loginwrapper">
           
            <div>
             
    
              <h3>Create New Password</h3>
              <form [formGroup]="changePasswordForm" role="form" (ngSubmit)="onSubmit()">
           
              <div class="fxt-form">
                <div class="form-group">
                  <label for="email" class="input-label">Password</label>
                  <div class="togglepass">
                    <input (keyup)="wordCounter()" type="Password" [type]="showPassword ? 'text' : 'password'" class="form-control"
                      name="password" formControlName="password" placeholder="Enter Password" required="required">

                    <i alt="show" class="far fa-eye eye-show" (click)="showPassword = !showPassword"
                      [class.hide]="showPassword"></i>
                    <i alt="hide" class="far fa-eye-slash eye-hide" (click)="showPassword = !showPassword"
                      [class.hide]="!showPassword"></i>
                      <div><span id="wordCount" style="float: right;display: none;">{{ remainingLength }} / 8</span></div>
                    <div *ngIf="submitted && f.password.errors" class="required">                      
                      <span *ngIf="f.password.errors.required">Password is required</span>
                      <span *ngIf="f.password.errors.minlength">Password should be 8 minimum characters only</span>
                      <span *ngIf="f.password.errors.pattern">At least one alphanumeric character, one uppercase lowercase, one special symbol</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="email" class="input-label">Confirm Password</label>
                  <input type="password" class="form-control" name="confirmPassword" formControlName="confirmPassword"
                    placeholder="Confirm Password" required="required">
                  <div *ngIf="submitted && f.confirmPassword.errors" class="required">
                    <span *ngIf="f.confirmPassword.errors.required">Confirm Password is required</span>
                    <span *ngIf="f.confirmPassword.errors.matching">Confirm Password does not match with
                      Password</span>
                  </div>
                </div>
                <button type="submit" class="loginbtn btn">Submit</button>
                <!-- <div class="fxt-footer">
                  <p>If you haven't made this request </p>
                  <a routerLink="/login">  Click here to login session.</a>
                </div> -->
               <!-- </div> -->
               <div class="form-group">
                <label for="email" class="input-label">Re-enter Password</label>
                <div class="togglepass">
                  <input type="password" id="email" class="form-control" name="email" placeholder="Re-enter Password" required="required">
                  <img src="../../../../../assets/images/visible.svg" alt="">
                </div>
              
             </div>
               <a href="" class="loginbtn btn">Create Password</a>
               <!-- <div class="fxt-footer">
                <p>If you haven't made this request </p>
                <a routerLink="/login">  Click here to login session.</a>
              </div> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyrights">
    <p>All Rights Reserved © 2024 Maanavar</p>
  </div>
</div>