
                        <div class="d-xl-flex justify-content-between mb-3" routerLink="/subject-folder">
                            <h4 class="text-blue fw-bold mb-0 align-self-center"><img src="assets/images/blue-back-arrow.svg"> Wilson Kilbert</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="table-responsive course-table">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="name-space">Name</th>
                                                <th>Submission Date</th>
                                                <th>Mark</th>
                                                <th></th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th >
                                                    <img src="assets/images/assignment-blue.svg" class="img-fluid me-3"> K-Means Clustering
                                                </th>
                                                <td>27 October, 2021</td>
                                                <td class="fw-bold text-dark-blue">84</td>
                                                <td>
                                                    <button type="button"  class="button-light-red mt-lg-0 " routerLink="/instructor/instructor-course-list/subject-folder/view-assignment">View Assignment</button>
                                                </td>
                                            </tr> 
                                            <tr>
                                                <th >
                                                    <img src="assets/images/assignment-blue.svg" class="img-fluid me-3"> Linear Regression
                                                </th>
                                                <td class="text-dark-red">Overdue</td>
                                                <td class="fw-bold text-dark-blue">N/A</td>
                                                <td></td>
                                            </tr> 
                                            <tr>
                                                <th >
                                                    <img src="assets/images/assignment-blue.svg" class="img-fluid me-3"> Logistic Regression
                                                </th>
                                                <td>21 September, 2021</td>
                                                <td  class="fw-bold text-dark-blue">84</td>
                                                <td>
                                                    <button type="button"  class="button-light-red mt-lg-0 ">View Assignment</button>
                                                </td>
                                            </tr> 
                                            <tr>
                                                <th >
                                                    <img src="assets/images/assignment-blue.svg" class="img-fluid me-3"> Title of assignment
                                                </th>
                                                <td>08th September, 2021</td>
                                                <td  class="fw-bold text-dark-blue">84</td>
                                                <td>
                                                    <button type="button"  class="button-light-red mt-lg-0 ">View Assignment</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th >
                                                    <img src="assets/images/assignment-blue.svg" class="img-fluid me-3"> Title of assignment Lorem...
                                                </th>
                                                <td>21 July, 2021</td>
                                                <td  class="fw-bold text-dark-blue">84</td>
                                                <td>
                                                    <button type="button"  class="button-light-red mt-lg-0 ">View Assignment</button>
                                                </td>
                                            </tr>              
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-3 pt-1">
                                <div class="student-ptofile-card card-shadow mt-lg-5">
                                    <div class="card-header bg-0 pb-3 text-center">
                                        <img src="assets/images/std.png" class="img-fluid rounded-circle mb-3">
                                        <h6 class="fw-bold text-dark-blue ">Wilson Kilbert</h6>
                                        <a href="#" class="text-blue text-decoration-none">wilsonkilbert@gmail.com</a>
                                    </div>
                                    <div class="card-body bg-0  text-center">
                                        <p class="text-grey mb-0">Overall grade</p>
                                        <h1 class="fw-bold text-blue mb-0">68 %</h1>
                                    </div>
                                    <div class="card-footer bg-0 pt-3 pb-0 border-0 text-center">
                                        <h5 class="fw-bold text-red">View Profile <img src="assets/images/red-arrow.svg"></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
  