<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="announcementWrapper">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <img src="assets/images/home.svg" alt="Logo">
                  </li>
                  <li class="breadcrumb-item">
                    <a href="">Setup</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="">Courses</a>
                  </li>
                </ul>
                <div class="flex">
                    <h3 class="text-dark-blue">Courses</h3>
                    <div class="filters">
                        <a (click)="togglefilter()"><img src="assets/images/filter_list.svg" alt="Logo"> Filters</a>
                        <a class="setupdownload">
                            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 15L16 11M12 15V3V15ZM12 15L8 11L12 15Z" stroke="#FF8364" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M2 17L2.621 19.485C2.72915 19.9177 2.97882 20.3018 3.33033 20.5763C3.68184 20.8508 4.11501 20.9999 4.561 21H19.439C19.885 20.9999 20.3182 20.8508 20.6697 20.5763C21.0212 20.3018 21.2708 19.9177 21.379 19.485L22 17" stroke="#FF8364" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        </a>
                        <a data-bs-toggle="modal" data-bs-target="#announcementModal" class="btn-primary"><img src="assets/images/add.svg" alt="Logo">New Course</a>
                    </div>
                </div>
                <div class="setupDesignation">
                  <ul>
                      <li>
                          <a routerLink="/admin/setup" routerLinkActive='active'>
                              Programmes
                          </a>
                      </li>
                      <li>
                          <a routerLink="/admin/setup/department" routerLinkActive='active'>
                              Departments
                          </a>
                      </li>
                      <li>
                          <a routerLink="/admin/setup/course" routerLinkActive='active'>
                              Courses
                          </a>
                      </li>
                      <li>
                          <a routerLink="/admin/setup/subject" routerLinkActive='active'>
                              Subjects
                          </a>
                      </li>
                      <li>
                          <a routerLink="/admin/setup/designation" routerLinkActive='active'>
                              Designations
                          </a>
                      </li>
                      <li>
                          <a routerLink="/admin/setup/sections" routerLinkActive='active'>
                              Sections
                          </a>
                      </li>
                      <li>
                          <a routerLink="/admin/setup/roles-rights" routerLinkActive='active'>
                              Roles & Rights
                          </a>
                      </li>
                  </ul>
              </div>
                <div class="filter-list" [class.filtertoggleclass]="filterToggled">
                    <div class="filterflex">
                     <div class="d-flex">
                         <div class="ng-autocomplete">
                          <img src="assets/images/down.svg" alt="" class="droparrow">
                             <ng-autocomplete 
                               [data]="countries"
                               [searchKeyword]="keyword"
                               (selected)='selectEvent($event)'
                               (inputChanged)='onChangeSearch($event)'
                               (inputFocused)='onFocused($event)'
                               [itemTemplate]="itemTemplate"
                               [notFoundTemplate]="notFoundTemplate"
                               placeholder="Department">                                 
                             </ng-autocomplete>
                             
                             <ng-template #itemTemplate let-item>
                             <a [innerHTML]="item.name"></a>
                            
                             
                             </ng-template>
                             
                             <ng-template #notFoundTemplate let-notFound>
                             <div [innerHTML]="notFound"></div>
                             </ng-template>
                         </div>
                         <div class="ng-autocomplete">
                          <img src="assets/images/down.svg" alt="" class="droparrow">
                             <ng-autocomplete 
                               [data]="countries"
                               [searchKeyword]="keyword"
                               (selected)='selectEvent($event)'
                               (inputChanged)='onChangeSearch($event)'
                               (inputFocused)='onFocused($event)'
                               [itemTemplate]="itemTemplate"
                               [notFoundTemplate]="notFoundTemplate"
                               placeholder="BE">                                 
                             </ng-autocomplete>
                             
                             <ng-template #itemTemplate let-item>
                             <a [innerHTML]="item.name"></a>
                            
                             
                             </ng-template>
                             
                             <ng-template #notFoundTemplate let-notFound>
                             <div [innerHTML]="notFound"></div>
                             </ng-template>
                         </div>
                        </div>
                        <span class="clearfilter">
                         Clear Filters
                        </span>
                    </div>
                   
                </div>
                <div class="table-responsive course-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Course Name</th>
                                <th>Short Code</th>
                                <th>Programme</th>
                                <th>Department</th>
                                <th>Status</th>
                              
                                <th></th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Computer Science Engineering</th>
                                <td>CSE</td>
                                <td>CSE</td>
                                <td>Computer Science Engg.</td>
                                <td class="text-blue">
                                    Active
                                </td>
                          
                                <td class="text-violet">
                                  <div class="dropdown">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" >
                                      <img src="assets/images/drop-dots.svg" class="img-fluid">
                                    </button>
                                    <div class="dropshow">
                                      <a href="" class="text-dark-blue"><img src="assets/images/clock.svg" class="img-fluid me-2">Reassign</a>
                                    </div>
                                  
                                  </div>
                                </td>                                   
                            </tr>
                            <tr>
                                <th>Computer Science Engineering</th>
                                <td>CSE</td>
                                <td>CSE</td>
                                <td>Computer Science Engg.</td>
                                <td class="text-blue">
                                    Active
                                </td>
                          
                                <td class="text-violet">
                                  <div class="dropdown">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" >
                                      <img src="assets/images/drop-dots.svg" class="img-fluid">
                                    </button>
                                    <div class="dropshow">
                                      <a href="" class="text-dark-blue"><img src="assets/images/clock.svg" class="img-fluid me-2">Reassign</a>
                                    </div>
                                  
                                  </div>
                                </td>                                   
                            </tr>
                            <tr>
                                <th>Computer Science Engineering</th>
                                <td>CSE</td>
                                <td>CSE</td>
                                <td>Computer Science Engg.</td>
                                <td class="text-blue">
                                    Active
                                </td>
                          
                                <td class="text-violet">
                                  <div class="dropdown">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" >
                                      <img src="assets/images/drop-dots.svg" class="img-fluid">
                                    </button>
                                    <div class="dropshow">
                                      <a href="" class="text-dark-blue"><img src="assets/images/clock.svg" class="img-fluid me-2">Reassign</a>
                                    </div>
                                  
                                  </div>
                                </td>                                   
                            </tr>
                            <tr>
                                <th>Computer Science Engineering</th>
                                <td>CSE</td>
                                <td>CSE</td>
                                <td>Computer Science Engg.</td>
                                <td class="text-blue">
                                    Active
                                </td>
                          
                                <td class="text-violet">
                                  <div class="dropdown">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" >
                                      <img src="assets/images/drop-dots.svg" class="img-fluid">
                                    </button>
                                    <div class="dropshow">
                                      <a href="" class="text-dark-blue"><img src="assets/images/clock.svg" class="img-fluid me-2">Reassign</a>
                                    </div>
                                  
                                  </div>
                                </td>                                   
                            </tr>
                        </tbody>
                    </table>
                </div>
               
              
            </div>
        </div>
    </div>
   <!-- Model popup -->
   <div class="modal fade announcementModal CreateProgramme" id="announcementModal" tabindex="-1" aria-labelledby="announcementModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="announcementModal">Create Course</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="announcementModalWrap pt-3">
            <div class="form-group">
              <input name="text" type="text" class="form-control textbox"  placeholder="Computer Science Engineering" aria-label="Email Address">     
            </div>
          
            <div class="form-group">
              <label for="first_field" class="form-label">Short Code</label>
              <div class="ng-autocomplete">
                <img src="assets/images/down.svg" alt="" class="droparrow">
                <ng-autocomplete 
                  [data]="countries"
                  [searchKeyword]="keyword"
                  (selected)='selectEvent($event)'
                  (inputChanged)='onChangeSearch($event)'
                  (inputFocused)='onFocused($event)'
                  [itemTemplate]="itemTemplate"
                  [notFoundTemplate]="notFoundTemplate"
                  placeholder="Select">                                 
                </ng-autocomplete>
                
                <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name"></a>
               
                
                </ng-template>
                
                <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
             
              
              
            </div>
            <div class="form-group">
                <label for="first_field" class="form-label">Programmme</label>
                <div class="ng-autocomplete">
                  <img src="assets/images/down.svg" alt="" class="droparrow">
                  <ng-autocomplete 
                    [data]="countries"
                    [searchKeyword]="keyword"
                    (selected)='selectEvent($event)'
                    (inputChanged)='onChangeSearch($event)'
                    (inputFocused)='onFocused($event)'
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate"
                    placeholder="Select">                                 
                  </ng-autocomplete>
                  
                  <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.name"></a>
                 
                  
                  </ng-template>
                  
                  <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>
               
                
                
            </div>
            <div class="form-group">
                <label for="first_field" class="form-label">Department</label>
                <div class="ng-autocomplete">
                  <img src="assets/images/down.svg" alt="" class="droparrow">
                  <ng-autocomplete 
                    [data]="countries"
                    [searchKeyword]="keyword"
                    (selected)='selectEvent($event)'
                    (inputChanged)='onChangeSearch($event)'
                    (inputFocused)='onFocused($event)'
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate"
                    placeholder="Select">                                 
                  </ng-autocomplete>
                  
                  <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.name"></a>
                 
                  
                  </ng-template>
                  
                  <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>
               
                
                
            </div>
          </div>
      
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Create</button>
        </div>
      </div>
    </div>
  </div>
</div>

