<div class="d-flex mb-3 grade-title" routerLink="/subject-folder">
    <h4 class="text-blue fw-bold mb-0 align-self-center">Gradebook </h4>
    <ul class="p-0 m-0">
        <li>Overall grade <span class="text-blue ms-3">67.3%</span></li>
    </ul>
</div>
<div class="table-responsive course-table">
    <table class="table">
        <thead>
            <tr>
                <th class="name-space">Name</th>
                <th>Submission Date</th>
                <th>Mark</th>
                <th></th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <th >
                    <img src="assets/images/assignment-blue.svg" class="img-fluid me-3"> Regression Algorithm
                </th>
                <td>N/A</td>
                <td  class="fw-bold text-dark-blue">N/A</td>
                <td>
                    <button type="button"  class="button-light-red mt-lg-0 disabled">View Assignment</button>
                </td>
            </tr> 
            <tr>
                <th >
                    <img src="assets/images/assignment-blue.svg" class="img-fluid me-3"> HTML coding and CSS
                </th>
                <td>21 March, 2021</td>
                <td class="fw-bold text-dark-blue">84</td>
                <td>
                    <button type="button"  class="button-light-red mt-lg-0 ">View Assignment</button>
                </td>
            </tr> 
            <tr>
                <th >
                    <img src="assets/images/assignment-blue.svg" class="img-fluid me-3"> Title of assignment Lorem...
                </th>
                <td>21 March, 2021</td>
                <td class="fw-bold text-dark-blue">84</td>
                <td>
                    <button type="button"  class="button-light-red mt-lg-0 ">View Assignment</button>
                </td>
            </tr> 
            <tr>
                <th >
                    <img src="assets/images/assignment-blue.svg" class="img-fluid me-3"> Title of assignment Lorem...
                </th>
                <td>21 March, 2021</td>
                <td class="fw-bold text-dark-blue">84</td>
                <td>
                    <button type="button"  class="button-light-red mt-lg-0 ">View Assignment</button>
                </td>
            </tr>            
        </tbody>
    </table>
</div>