.course-addbutton{
    height: 30px;
    margin-left: 20px;
    margin-top: -9px;
}

.card-header {
    padding: 0rem !important;
    margin-bottom: 0!important;
    background-color: white !important;
    border-bottom: 0!important;
}

.course-favorite-icon{
    color: #f76540 !important;
    font-size: 20px;
    margin-left: 10px;
    line-height: 1.5 !important;
}


.course-duplicate-action-icon{
    float: right;
    font-size: 20px;
    margin-right: 10px;
    line-height: 1.5 !important;
}

.course-filter-icon{
    font-size: 20px;
    line-height: 1.5 !important;
}

.card-body {
    text-align: left !important;
}

.course-image {
    height: 250px;
    width: 450px;
}