.cover-change {
    p{
        color: var(--white-color);
        font-size: 12px;
        font-weight: 700;
        position: absolute;
        top: 15px;
        right: 15px;
        background: rgba(29, 40, 67, 0.62);
        border-radius: 20px;
        margin-bottom: 0;
        padding: 3px 15px;
    }
}
.nav-tabs{
    &.general-schedule{
        background:var(--white-color);
        border: 0;
        border-radius: 10px;
        li{
            .nav-link{
                color: var(--grey-color);
                font-size: 13px;
                font-weight: 600;
                padding: 0.68rem;
                border-radius: 10px !important;
                margin: 0;
                &.active,&:hover{
                    background-color: var(--blue-color);
                    color: var(--white-color);
                    border-radius: 10px !important;
                    border-color:transparent;
                }
                &.active:after{
                    display: none;
                }
                &:hover{
                    border-color:transparent;
                }
            }
            &:last-child{
                background: #F5F6FA;
                border-radius: 10px;
            }
        }
    }
}
.shedule{
    border:1px solid #D1D0E8;
    border-radius: 14px;
    padding: 20px 30px;
    p{
        margin-bottom: 0;
    }
    .period{
        p{
            font-size: 15px;
            font-weight: 600;
            color: var(--dark-blue-color);
            span{
                color: var(--blue-color);
                background: #E3E8FF;
                border: 1px solid rgba(210, 217, 236, 0.5);
                box-sizing: border-box;
                border-radius: 6px;
                width: 34px;
                height: 34px;
                display: inline-block;
                text-align: center;
                padding: 5px;
                margin-right: 1rem;
            }
        }
    }
    .time{
        p{
            color: var(--grey-color);
            font-size: 12px;
            font-weight: 600;
        }
    }
 }
 .shedule-num{
     font-size: 18px;
     border-radius: 50%;
     padding: 6px 15px;
     margin-right: 1rem;
 } 
 .course-card{
    background: linear-gradient(103.02deg, #FFFFFF 50%, #F7F8FF 100%);
    border: 0.5px solid #D1D0E8;
    border-radius: 10px;
    h6{
        font-size: 18px;
    }
    p{
        font-size: 14px;
        font-weight: 600;
    }
    .subject-list{
        li{
            font-size: 14px;
            font-weight: 600;
            display: inline-block;
            margin-right: 1.5rem;
            position: relative;
            &:not(:first-child):before{
                content: '';
                width: 5px;
                height: 5px;
                background: var(--grey-color);
                position: absolute;
                border-radius: 50%;
                top: 40%;
                left: -15px;
            }
        }
    }
    .student-list{
        ul{
            li{
                display: inline-block;
                list-style-type: none;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                margin-left: -5px;
                color: #727585;
                font-size: 13px;
                font-weight: 600;
                span{
                    background: var(--blue-color);
                    color: var(--white-color);
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    padding: 5px 10px;
                }
            }
        }
    }
    
    .badge{
        font-size: 14px;
        font-weight: 600;
    }
}
.radio {
    margin-right: 1rem;
	input[type="radio"] {
		display: none;
		&:checked {
			+ {
				label {
					&::before {
						background: #fff;
						border: 1px solid var(--blue-color);
					}
					&::after {
						opacity: 1;
						-webkit-transform: scale(1);
						transform: scale(1);
					}
				}
			}
		}
	}
	label {
		position: relative;
		display: inline-block;
		padding: 3px 3px 3px 20px;
		cursor: pointer;
		&::before {
			position: absolute;
			content: '';
			top: 50%;
			border-radius: 100%;
			-webkit-transition: all .2s;
			transition: all .2s;
			left: 0;
			width: 18px;
			height: 18px;
			background: var(--white-color);
			border: 1px solid var(--grey-color);
		}
		&::after {
			position: absolute;
			content: '';
			top: 50%;
			border-radius: 100%;
			-webkit-transition: all .2s;
			transition: all .2s;
			opacity: 0;
			left: 3px;
			width: 12px;
			height: 12px;
			margin-top: 3px;
			background: var(--blue-color);
			-webkit-transform: scale(2);
			transform: scale(2);
		}
		&:hover {
			&::before {
				background: #fff;
			}
		}
	}
}
@media(max-width:991px){
    .nav-tabs{
        &.general-schedule{
            li{
                .nav-link{
                    padding: 0.3rem;
                }
            }
        }
    }
    .shedule{text-align: center;
        .shedule-num{
            display: table;
            margin: auto;
            margin-bottom: 1rem;
        }
    }
}
